-
	var
		debug = false,
		htmlClass = 'wide wow-animation',
		fonts = '//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700',
		brand = {
			name: 'Etaxi',
			slogan: 'Simple, intuitive and powerful',
			default: { normal: 'logo-111x33', retina: 'logo-222x66' },
			defaultInverse: { normal: 'logo-default-inverse-134x41', retina: 'logo-default-inverse-268x82' },
			mobileApp: { normal: 'logo-mobile-app-110x41', retina: 'logo-mobile-app-220x82' },
			mobileAppInverse: { normal: 'logo-mobile-app-inverse-110x41', retina: 'logo-mobile-app-inverse-220x82' },
			desktopApp: { normal: 'logo-desktop-app-111x41', retina: 'logo-desktop-app-222x82' },
			desktopAppInverse: { normal: 'logo-desktop-app-inverse-111x41', retina: 'logo-desktop-app-inverse-222x82' },
			messenger: { normal: 'logo-messenger-109x39', retina: 'logo-messenger-218x78' },
			messengerInverse: { normal: 'logo-messenger-inverse-109x39', retina: 'logo-messenger-inverse-218x78' },
			webService: { normal: 'logo-web-service-113x38', retina: 'logo-web-service-226x76' },
			webServiceInverse: { normal: 'logo-web-service-inverse-113x38', retina: 'logo-web-service-inverse-226x76' }
		},
		links = {
			post: 'blog-post.html',
			getTemplate: 'https://www.templatemonster.com/website-templates/alice-application-multipage-html5-website-template-70682.html'
		},
		colors = {
			primary: '#16b6d2',
			secondary: '#ff6f80'
		},
		menu = [
			{
				title: 'Get Our App',
				link: '#'
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				megamenu: [
					{
						list: [
							{ title: 'Typography' },
							{ title: 'Buttons' },
							{ title: 'Forms' },
							{ title: 'Tabs and Accordions' },
							{ title: 'Progress bars' },
							{ title: 'Tables' }
						]
					},
					{
						list: [

							{ title: 'Gallery' },
							{ title: 'Services' },
							{ title: 'Services 2' },
							{ title: 'Pricing' },
							{ title: 'Careers' }
						]
					},
					{
						list: [
							{ title: 'Grid system' },
							{ title: 'Privacy policy' },
							{ title: '404 Page' },
							{ title: 'Coming Soon' },
							{ title: 'Search results' }
						]
					},
					{
						list: [
							{ title: 'Contact Us' },
							{ title: 'Login' },
							{ title: 'Register' }
						]
					}
				]
			}
		];
