/** @section Boxes */

//
// Table of Contents
//
// Box Bordered
// Box Shadow 1
// Box Custom 1
// Box Custom 2
// Box Custom 3
// Box Custom 4
// Box Custom 5
// Box Modern
// Box Light
// Box Classic
// Contacts Default
// Box Default
//

//
// Box Bordered
//
.box-bordered {
	padding-left: 30px;
	border-left: 1px solid $gray-200;

	h5, .heading-5 {
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}

* + .box-bordered { margin-top: 35px; }

@include media-breakpoint-up(md) {
	* + .box-bordered { margin-top: 50px; }
}

// 
// Box Shadow 1
//
.box-shadow-1 {
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	padding: 35px 20px 40px;
	border-radius: 6px;
	box-shadow: 1px 6px 32px 0 rgba(75, 81, 91, 0.11);
}

.box-shadow-1-main {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

* + .box-shadow-1-main { margin-top: 20px; }

@media (min-width: 360px) {
	.box-shadow-1 {
		padding: 35px 25px 40px;
	}

	.box-shadow-1-main {
		padding: 0 10px;
	}
}

@include media-breakpoint-up(md) {
	.box-shadow-1 {
		padding: 60px 30px 80px;

		.brand + p {
			margin-top: 35px;
		}
	}

	* + .box-shadow-1-main { margin-top: 35px; }
}

//
// Box Custom 1
//
.box-custom-1 {
	padding: 20px;
	text-align: center;
	background: $gray-100;

	> * {
		max-width: 200px;
	}

	h2,
	.heading-2 {
		font-weight: 300;
	}
}

.block-ratio {
	.box-custom-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.bg-gray-100 {
	.box-custom-1 {
		background: $white;
	}
}

//
// Box Custom 2
//
.box-custom-2 {
	position: relative;
	padding: 30px 20px;
	z-index: 1;
}

div.box-custom-2 {
	background-color: transparent;
}

.box-custom-2-bg,
.box-custom-2-bg-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.box-custom-2-bg {
	border-radius: 0 0 22px 22px;
	overflow: hidden;
	background: $primary;
}

.box-custom-2-bg-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.box-custom-2-bg-image {
	background-size: cover;
	background-position: 70% center;
	opacity: .22;
}

.box-custom-2-inner {
	position: relative;
	z-index: 2;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

$box-custom-2-angle-xl: 12deg;
$box-custom-2-angle-xxl: 18.5deg;

@include media-breakpoint-up(md) {
	.box-custom-2 {
		padding: 80px 50px 100px;
	}
}

@include media-breakpoint-up(xl) {
	.box-custom-2 {
		padding: 20px 25px 50px 60px;
	}

	.box-custom-2-bg {
		top: -44%;
		right: -40%;
		bottom: -40%;
		margin-right: 0;
		transform: rotate(-$box-custom-2-angle-xl);
		border-radius: 8%;
		border: 1px solid transparent;
	}

	.box-custom-2-bg-inner {
		top: -10%;
		right: -5%;
		bottom: -5%;
		left: -12%;
		transform: rotate($box-custom-2-angle-xl);
		border: 1px solid transparent;
	}

	.box-custom-2-inner {
		margin-left: 0;
	}
}

@media (min-width: map-get($grid-breakpoints, xxl) + 140px) {
	.box-custom-2 {
		padding: 0 25px 65px 60px;
	}

	.box-custom-2-bg {
		left: -9%;
		transform: rotate(-$box-custom-2-angle-xxl);
	}

	.box-custom-2-bg-inner {
		transform: rotate($box-custom-2-angle-xxl);
	}
}

// 
// Box Custom 3
// 
.box-custom-3 {
	padding: 30px 0;
	border-radius: 7px;
	background: $white;
	box-shadow: -1px 7px 51px 0px rgba(75, 81, 91, .18);
}

// Section Box Custom 3
.section-box-custom-3-outer {
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	margin-bottom: -80px;
}

.section-box-custom-3 {
	&.parallax-container {
		overflow: visible;
	}

	.material-parallax {
		overflow: hidden;
		bottom: 30px;
	}

	.box-custom-3-container {
		margin-bottom: -30px;
	}
}

.section-box-custom-3-outer + .section {
	padding-top: 110px;
}

@include media-breakpoint-up(md) {
	.box-custom-3 {
		padding: 45px 0;
	}

	// Section Box Custom 3
	.section-box-custom-3-outer {
		padding-bottom: 100px;
		margin-bottom: -150px;
	}

	.section-box-custom-3 {
		.material-parallax {
			bottom: 50px;
		}
	}

	.section-box-custom-3-outer + .section {
		padding-top: 120px;
	}
}

@include media-breakpoint-up(xl) {
	.box-custom-3 {
		padding: 90px 0;
	}

	.section-box-custom-3-outer {
		padding-bottom: 95px;
		margin-bottom: -190px;
	}

	.section-box-custom-3 {
		.material-parallax {
			bottom: 95px;
		}
	}

	.section-box-custom-3-outer + .section {
		padding-top: 200px;
	}
}

//
// Box Custom 4
//
.box-custom-4 {
	position: relative;
}

.box-custom-4-aside {
	position: relative;
	text-align: center;
}

div.box-custom-4-aside {
	background-color: transparent;
}

.box-custom-4-aside-decoration,
.box-custom-4-aside-decoration-bg,
.box-custom-4-icon-outer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.box-custom-4-aside-decoration-bg {
	background-image: linear-gradient(to top, rgb(93, 177, 225) 0%, rgb(11, 183, 209) 100%);
}

.box-custom-4-icon-outer {
	overflow: hidden;
}

.icon.box-custom-4-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: rgba($white, .08);
	font-size: 500px;
}

.box-custom-4-main {
	position: relative;
	padding: 30px 15px 50px;
}

.box-custom-4-main-decoration {
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	right: 0;
	width: 19.8%;
	height: 73%;
	max-height: 555px;
	max-width: 285px;
	min-width: 250px;
	pointer-events: none;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		background: url(../images/mobile-app-decoration-1.png);
		background-size: cover;
		width: 100%;
		opacity: .5;
		padding-bottom: (554 / 284) * 100%;
	}
}

.box-custom-4-aside {
	.button-play {
		margin-top: 0;
	}
}

@include media-breakpoint-down(md) {
	.box-custom-4-aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 45px 30px;
		
		.button-play {
			flex-shrink: 0;
		}

		.iphone-frame-4-outer {
			margin-right: -100px;
			margin-left: -30px;
			transform: translate3d(25px, 15px, 0);
			width: 100%;
		}

		* + .iphone-frame-4-group { margin-top: 15px; }
	}
}

@include media-breakpoint-between(sm, lg) {
	.box-custom-4-aside {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@include media-breakpoint-up(sm) {
	.box-custom-4 {
		display: flex;
		flex-direction: row-reverse; 
	}

	.box-custom-4-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding-left: 35px;
	}
	
	.box-custom-4-aside {
		position: relative;
		z-index: 1;
		text-align: center;

		* + .iphone-frame-4-group { margin-top: 10px; }
	}

	.icon.box-custom-4-icon {
		font-size: 600px;
	}
}

@include media-breakpoint-up(md) {
	.box-custom-4-aside {
		padding: 30px 0;
	}

	.box-custom-4-main {
		padding-left: 150px;
	}
}

@include media-breakpoint-between(md, lg) {
	.box-custom-4-aside {
		.iphone-frame-4-group {
			margin-right: -100px;
			margin-left: -30px;
			transform: translate3d(15px, 15px, 0);
		}
	}
}

@include media-breakpoint-up(lg) {
	.box-custom-4 {
		min-height: (760 / 1920) * 100vw;
	}
	
	.box-custom-4-main {
		padding-left: 170px;
	}

	.box-custom-4-aside {
		width: calc(190px + 15.1vw);
		flex-shrink: 0;
		padding-left: 45px;
	}
	
	.box-custom-4-aside-content {
		display: flex;
		align-items: center;

		> * {
			flex-shrink: 0;
		}

		.iphone-frame-4-group {
			margin-top: 0;
		}
	}

	.icon.box-custom-4-icon {
		font-size: 740px;
	}
}

@include media-breakpoint-up(xl) {
	.box-custom-4-main {
		padding-left: 225px;
	}
}

@include media-breakpoint-up(xl) {
	.box-custom-4-aside {
		.iphone-frame-4-group {
			transform: translate3d(45px, 15px, 0);
		}
	}
}

@media (min-width: 1400px) {
	.box-custom-4-main {
		padding-left: 140px;
	}

	.box-custom-4-aside {
		.iphone-frame-4-group {
			transform: translate3d(70px, 15px, 0);
		}
	}

	.icon.box-custom-4-icon {
		font-size: 800px;
	}
}

@include media-breakpoint-up(xxl) {
	.box-custom-4-main {
		// 30
		padding: 30px 200px 50px 230px;
	}
	
	.box-custom-4-aside {
		padding: 10px 0 5px 75px;
	}

	.box-custom-4-main-decoration {
		&::before {
			opacity: 1;
		}
	}

	.box-custom-4-aside-content {
		max-width: 480px;
		margin-left: auto;
	}
}

@media (min-width: 1920px) {
	.box-custom-4 {
		min-height: 760px;
	}
	
	.box-custom-4-aside { 
		justify-content: flex-end;
		width: calc(58vw - 480px);
	}
	
	.box-custom-4-aside {
		.iphone-frame-4-group {
			transform: translate3d(160px, 15px, 0);
		}
	}
}

//
// Box Custom 5 
//
.box-custom-5 {
	
}
 
div.box-custom-5-main {
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(to bottom, rgb(77,205,228) 0%, rgb(8,108,166) 100%);
	padding: 0 20px; 
}

.box-custom-5-aside {
	padding: 30px 15px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.box-custom-5-main-header {
	padding: 30px 0 20px;
}

.box-custom-5-main-inner {
	position: relative;
	z-index: 1;
	max-width: 450px; 
	margin: auto;
}

.box-custom-5-main-text {
	position: relative;
	left: -1vw;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -6.5vw;
	font-family: $font-family-sec;
	font-weight: 900;
	font-size: 110px;
	line-height: 1;
	color: rgba($white, .09);
	letter-spacing: .025em;
}

* + .box-custom-5-main-text { margin-top:-20px; } 

@include media-breakpoint-up(sm) {
	.box-custom-5-aside {
		max-width: 100%;
	} 
}

@include media-breakpoint-up(md) {
	.box-custom-5 {
		display: flex;
		
		> * {
			flex-shrink: 0;
		}
	}
	
	.box-custom-5-main {
		display: flex;
		flex-direction: column;
		width: 60%;
		border-radius: 0 0 50px 0;
	}

	.box-custom-5-aside {
		align-self: center;
		width: 40%;
	}

	.box-custom-5-main-inner {
		width: 100%;
	}
	
	.box-custom-5-main-body {
		flex-grow: 1;
	}

	.box-custom-5-main-text {
		font-size: 200px;
		margin-left: 0;
		margin-right: 0;
	}
}

@include media-breakpoint-up(xl) {
	.box-custom-5-main {
		width: 54%;
		border-radius: 0 0 90px 0;
	}
	
	.box-custom-5-aside {
		width: calc(46% + 56px);
		margin-left: -56px;
	}

	.box-custom-5-main-header {
		padding: 60px 0;
	}
	
	.box-custom-5-main-text {
		font-size: 21.2201875vw;
	}
	
	* + .box-custom-5-main-text { margin-top: -7vw; }
}

@include media-breakpoint-up(xl) {
	.box-custom-5-main-inner {
		margin-left: calc(50vw - #{map-get($container-max-widths, xl) / 2});
	}
} 

//
// Box Modern
//

.box-modern {
	padding: 25px 15px;
	border-radius: 7px;
	box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
	background: $white;
	text-align: center;
}

.box-modern-title {
	font-family: $font-family-sec;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 600;
	letter-spacing: 0;
	color: $headings-color;
	text-transform: uppercase;
}

.box-modern-text {
	color: rgba($gray-900, .8);
}

.box-modern-media {
	position: relative;
	padding: 20px 0;
	font-size: 60px;
	line-height: 1;
	min-height: 1.3em;
	width: 1.9em;
	margin-left: auto;
	margin-right: auto;
}

.box-modern-circle-1,
.box-modern-circle-2 {
	position: absolute;
	border-radius: 50%;
}

.box-modern-circle-1 {
	left: 0;
	bottom: 0;
	width: 1.23em;
	height: 1.23em;
	background: rgba($color-4, .1);
}

.box-modern-circle-2 {
	top: 0;
	right: 0;
	width: 0.54em;
	height: 0.54em;
	background: $color-5;
}

.box-modern_alternate {
	.box-modern-circle-1 {
		top: 0;
		bottom: auto;
	}

	.box-modern-circle-2 {
		top: auto;
		bottom: 0;
	}
}

.box-modern_alternate-1 {
	.box-modern-circle-1 {
		right: 0;
		left: auto;
	}

	.box-modern-circle-2 {
		right: auto;
		left: auto;
	}
}

.box-modern-icon {
	position: relative;
	z-index: 2;
	right: -5%;
	font-size: inherit;
	color: $secondary;
}

.box-modern-sm {
	.box-modern-media {
		width: 1.7em;
	}

	.box-modern-icon {
		opacity: 1;
	}
}

* + .box-modern-text { margin-top: 12px; }

@include media-breakpoint-down(sm) {
	.box-modern {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(md) {
	.box-modern {
		padding: 45px 30px;
	}

	.box-modern-title {
		font-size: 20px;
	}
}

@include media-breakpoint-between(lg, xl) {
	.box-modern {
		padding-left: 9px;
		padding-right: 9px;
	}
}

@include media-breakpoint-up(xl) {
	.box-modern {
		padding-top: 55px;
		padding-bottom: 60px;
	}

	.box-modern-media {
		font-size: 85px;
	}

	* + .box-modern-text { margin-top: 24px; }
	* + .box-modern-title { margin-top: 20px; }

	.box-modern-sm {
		.box-modern-media {
			font-size: 64px;
		}

		.box-modern-title {
			font-size: 22px;
		}

		.box-modern-text {
			font-size: $font-size-base;
		}
	}
}



//
// Box Light
//
.box-light {
	position: relative;
	padding: 30px 20px 20px;
	background: $white;
	text-align: left;

	&::before,
	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 5px;
		transition: .44s;
	}

	&::before {
		width: 80%;
		background: $gray-200;
	}

	&::after {
		width: 0;
		background: $tertiary;
	}

	&:hover {
		&::after {
			width: 80%;
			left: 20%;
			right: auto;
		}
	}
}

.box-light-counter {
	font-family: $font-family-sec;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	color: $headings-color;
}

.box-light-title {
}

* + .box-light-title { margin-top: 14px; }

* + .box-light-main { margin-top: 17px; }

* + .box-light-footer { margin-top: 25px; }

html:not(.tablet):not(.mobile) {
	@include media-breakpoint-up(lg) {
		.box-light {
			&:hover {
				.box-light-counter {
					color: $headings-color;
				}

				.box-light-title {
					color: $primary;
				}

				.box-light-footer {
					opacity: 1;
					visibility: visible;
					transform: translate3d(0, 0, 0);
				}
			}
		}

		.box-light-counter {
			color: $body-color;
			transition: .22s;
		}

		.box-light-footer {
			position: relative;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 5px, 0);
			transition: .22s;
		}
	}
}

@include media-breakpoint-up(md) {
	.box-light-counter {
		font-size: 30px;
	}

	* + .box-light-title { margin-top: 20px; }
	* + .box-light-main { margin-top: 16px; }
	* + .box-light-footer { margin-top: 20px; }
}

@include media-breakpoint-up(lg) {
	.box-light-title {
		font-size: 26px;
	}

	* + .box-light-title { margin-top: 45px; }
	* + .box-light-main { margin-top: 28px; }
	* + .box-light-footer { margin-top: 35px; }
}


//
// Box Classic
//
.box-classic {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: default;
}

.icon.box-classic-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	color: $white;
	background: $color-8;
	border-radius: 50%;
	font-size: 30px;
	
	&::after {
		content: ''; 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 50%;
		pointer-events: none;
		box-shadow: 1.219px 9.925px 7px 0px rgba(75, 81, 91, 0.13);
	}
}

* + .box-classic-main { margin-top: 10px; }

@include media-breakpoint-up(sm) {
	.icon.box-classic-icon {
		font-size: 43px;
	}
}

@include media-breakpoint-up(md) {
	* + .box-classic-main { margin-top: 18px; } 
}

@include media-breakpoint-between(md, lg) {
  .box-classic {
		display: flex;
		text-align: left;
		max-width: 100%;
		
		> * + * {
			margin-top: 0;
			margin-left: 25px; 
		}
	}
	
	.icon.box-classic-icon {
		flex-shrink: 0;
	}
	
	.box-classic-main {
		flex-grow: 1;
	}
}

@include media-breakpoint-up(lg) {
	.box-classic {
		padding: 35px 20px;
	}
	
  html:not(.tablet):not(.mobile) {
		.box-classic {
			position: relative;
			
			> * {
				position: relative;
				z-index: 1;
			}
			
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 9px;
				background: $white;
				box-shadow: 0 0 76px 0 rgba(75, 81, 91, .23);
				opacity: 0;
				visibility: hidden;
				transform: scale3d(.9, .9, .9);
				transition: .1s;
			}
			
			&:hover {
				&::before { 
					opacity: 1;
					visibility: visible;
					transform: scale3d(1, 1, 1);
					transition: .25s;
				}

				.icon.box-classic-icon {
					&::after {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}

		.icon.box-classic-icon {
			&::after {
				transition: .25s;
			}
		}
  } 
}



//
// Contacts Default
//
.contacts-default-icon {
	font-size: 22px;
	line-height: 1;
	color: rgba($gray-900, .36);
}

.contacts-default-link {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: 0;
}

* + .contacts-default { margin-top: 6px; }
.contacts-default + .big { margin-top: 10px; }

// Medium ≥576px
@include media-breakpoint-up(sm) {

	.contacts-default-link {
		font-size: 28px;
	}

	.contacts-default-icon {
		font-size: 26px;
	}
}

// Medium ≥768px
@include media-breakpoint-up(md) {

	.contacts-default-link {
		font-size: 32px;
	}

	.contacts-default-icon {
		font-size: 30px;
	}
}

// Large ≥992px
@include media-breakpoint-up(lg) {

	.contacts-default-link {
		font-size: 36px;
	}

	.contacts-default-icon {
		font-size: 34px;
	}
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {

	.contacts-default-link {
		font-size: 40px;
	}

	.contacts-default-icon {
		font-size: 38px;
	}
}

%context-dark {

	.contacts-default-link {

		&:hover {
			color: $secondary;
		}
	}

	.contacts-default-icon { color: rgba($white, .36); }
}



//
// Box Default
//
.box-default {
	text-align: center;
	padding: 20px 0;

	// Medium ≥576px
	@include media-breakpoint-up(sm) {
		padding: 40px 0;
	}
}

.box-default-title {

	font-size: 18px;
	line-height: 1.35;
	letter-spacing: 0;
	font-weight: 600;
	text-transform: uppercase;

	@include media-breakpoint-up(lg) {
		font-size: 22px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 27px;
		line-height: $h4-line-height;
	}
}

.box-default-text {
	font-weight: 500;
	letter-spacing: 0;
	color: $secondary;
	
	// Medium ≥768px
	@include media-breakpoint-up(md) {
		font-size: $font-size-lg;
		line-height: $line-height-lg;
	}
}