/** @section Breadcrumbs */

$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $primary;
$breadcrumb-color: $black;
$breadcrumb-active-color: rgba($black, .5);
$breadcrumb-separator: '\002F';

.breadcrumbs-custom {
	display: flex;
	flex-direction: column;
	text-align: center;

	.big {
		color: rgba($white, .8);
	}
}

section.breadcrumbs-custom + section {
	border-top: 1px solid $gray-200;
}

.breadcrumbs-custom-main {
	position: relative;
	padding: 40px 0 62px;
	background: $breadcrumb-bg url(../images/bg-image-1.jpg) center center;
	background-size: cover;
}

.breadcrumbs-custom-aside {
	background: $gray-100;
	padding: 0 10px;
}

.breadcrumbs-custom-path {
	position: relative;
	top: -12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 12px 10px 12px;
	background: $gray-100;
	border-radius: 4px;
	@include spacing(34px, 3px);

	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.7;
		font-weight: 500;
		text-transform: uppercase;

		&::after {
			content: $breadcrumb-separator;
			position: absolute;
			top: 55%;
			right: -5px;
			display: inline-block;
			font-size: inherit;
			font-style: normal;
			transform: translate3d(0, -50%, 0);
		}
	}

	li:last-child {
		&:after {
			display: none;
		}
	}

	a:hover,
	li.active {
		color: $breadcrumb-active-color;
	}

	li.active {
		top: 2px;
	}

	a {
		display: inline;
		vertical-align: middle;
		&,
		&:active,
		&:focus {
			color: $breadcrumb-color;
		}

		&:hover {
			color: $primary;
		}
	}
}

.breadcrumbs-custom-title {
	letter-spacing: 0;
}


@include media-breakpoint-up(md) {
	.breadcrumbs-custom-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 60px 0 82px;
		min-height: (390 / 1920) * 100vw;
	}
}

@include media-breakpoint-up(xl) {
	.breadcrumbs-custom-main {
		padding: 80px 0 110px;

		* + .big { margin-top: 30px; }

		.link-waypoint-icon {
			position: relative;
			margin-top: 0;
			bottom: -33px;
		}
	}

	.breadcrumbs-custom-path {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 2050px) {
	.breadcrumbs-custom-main {
		min-height: 390px;
	}
}

