/** @section groups */

html body {
	.group {
		@include group(20px, 10px);
	}
 
	.group-xs {
		@include group(12px, 10px);
	}

	.group-xl {
		@include group(30px, 20px);

		@include media-breakpoint-up(lg) {
			@include group-media(45px, 20px);
		}
	}

	.group-buttons-responsive {
		@include group(10px);
		@include media-breakpoint-down(sm) {
			.button {
				font-size: 13px;
				padding: 10px 20px;
			}
		}

		@include media-breakpoint-up(md) {
			@include groupX(20px);
		}
	}
}

.group-1 {
	@include group(15px);

	.button {
		margin-top: 0;
		min-width: 200px;
	}
}

.group-middle {
	display: inline-table;
	
	> * {
		vertical-align: middle;
	}
}

.group-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	@include group(15px, 10px);

	> * {
		flex: 0 1 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	@include media-breakpoint-up(sm) {
		flex-wrap: nowrap;

		> * {
			flex: 1 1 auto;
		}
	}
}

* + .group { margin-top: 30px; }

* + .group-xs { margin-top: 15px; }

* + .group-xl { margin-top: 30px; }

* + .group-1 { margin-top: 30px; }

* + .group-custom { margin-top: 25px; }

* + .group-buttons-responsive { margin-top: 25px; }

@include media-breakpoint-up(md) {
	* + .group-buttons-responsive { margin-top: 33px; }
}

@include media-breakpoint-up(md) {
	* + .group { margin-top: 40px; }
	* + .group-xs { margin-top: 33px; }
}

