/** @section Links */

// Standard link style
a {
	transition: $transition-base;

	&,
	&:focus,
	&:active,
	&:hover {
		text-decoration: $link-decoration;
	}

	@include link($link-color, $link-hover-color);

	&[href*='tel'],
	&[href*='mailto'] {
		white-space: nowrap;
	}
}

.link-hover {
	color: $link-hover-color;
}

.link-press {
	color: $link-press-color;
}

.privacy-link {
	display: inline-block;
}

* + .privacy-link { margin-top: 25px; }

//
// Link Default
//
.link-default {
	letter-spacing: .01em;
	color: $gray-900;
	
	&:hover {
		color: $primary;
	}
}

//
// Link Social 1
//
.link-social-1 {
	position: relative;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	text-align: center;
	color: $white;
	background: $body-color;
	font-size: 16px;
	line-height: 2em;

	&,
	&:active,
	&:focus,
	&:hover { 
		color: $white; 
	}
	
	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		top: 0;
		left: 0;
		padding: 2px;
		z-index: -1;
		background: $primary;
		opacity: 1;
		transform: scale(1);
	}

	&[class*='twitter'] {
		background: $twitter;
		&::after {
			background: $twitter;
		}
	}

	&[class*='facebook'] {
		background: $facebook;
		&::after {
			background: $facebook;
		}
	}

	&[class*='instagram'] {
		background: $instagram;
		&::after {
			background: $instagram;
		}
	}

	&[class*='linkedin'] {
		background: $linkedin;
		&::after {
			background: $linkedin;
		}
	}

	&:hover::after {
		transition: transform 0.2s, opacity 0.3s;
		transform: scale(1.3);
		opacity: 0; 
	}
}

.link-social-2 {
	color: $headings-color;
	
	&:hover {
		color: $primary;
	}

	&[class*='twitter'] {
		&:hover {
			color: $twitter;
		}
	}

	&[class*='facebook'] {
		&:hover {
			color: $facebook;
		}
	}

	&[class*='instagram'] {
		&:hover {
			color: $instagram;
		}
	}
}

//
// Link Underline
//
.link-underline {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	white-space: nowrap;
	text-align: center;
	letter-spacing: .01em;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: $gray-900;
	}
	
	&::before {
		transition: .22s .22s ease-in;
		transform: translateX(-110%);
	}
	
	&::after {
		left: 0;
		transition: .22s ease-in;
	}
	
	&, 
	&:active, 
	&:focus, 
	&:hover {
		color: $gray-900;
	}
	
	&:hover {
		&::after {
			right: 0;
			left: auto;
			width: 0;
		}
		
		&::before {
			transform: translateX(0);
		}
	}
}


//
// Link Icon
//
.link-icon {
	position: relative;
	display: inline-block;
	padding: 3px;
	white-space: nowrap;
	letter-spacing: 0;
	transition: .22s ease-in;
	  
	> * { 
		display: inline-block;
		vertical-align: middle;
	}
	
	.icon {
		position: relative;
		top: 1px;
		transition: transform .22s ease-in;
	}
	
	> * + * { margin-left: 5px; }
	
	&, 
	&:active, 
	&:focus, 
	&:hover {
		color: $gray-900;
	}
	
	&:hover {
		opacity: .5;
	}
}

.link-icon-left {
	.icon + span {
		transition: transform .22s ease-in;
	}
	
	&:hover {
		.icon {
			transform: translateX(-8px);
		}
		
		.icon + span {
			transform: translateX(-6px);
		}
	}
}


// Link Image 1
.link-image-1 {
	display: inline-block;
	opacity: .3;
	transition: .25s ease-in-out; 
	
	&:hover {
		opacity: .8;
	}
}

// Link Modern
.link-modern {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	color: $headings-color;
	letter-spacing: .075em;
	
	.icon { 
		order: 10;
		margin-left: 7px;
		color: $secondary;
	}
	
	&:hover {
		color: $secondary;
	}
}


// Link Waypoint Icon
.icon.link-waypoint-icon {
	font-size: 26px;
}

* + .link-waypoint-icon { margin-top: 15px; }

%context-dark {
	.link-waypoint-icon {
		color: rgba($white, .6);
		&:hover {
			color: $white;
		}
	}
}

@include media-breakpoint-up(md) {
	* + .link-waypoint-icon { margin-top: 25px; }
}