/** @section Pricing */

//
// Table of Contents
//
// Pricing Table Classic
// Pricing Table Creative
// Pricing Table Modern
//

// Base Styles
@keyframes object-hide {
	0% {
		opacity: 1;
	}

	25% {
		opacity: .1;
	}

	80%, 100% {
		opacity: 0;
	}
}

@keyframes object-show {
	0% {
		opacity: 0;
		transform: scale3d(.9, .9, .9);
	}

	33% {
		opacity: .05;
	}

	75% {
		opacity: .8;
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes opacity-loop {
	from { opacity: 0; }
	to { opacity: 1; }
}

//
// Pricing Table Classic
//
.pt-classic-group {
	
}

.pt-classic {
	position: relative;
	padding: 40px 15px;
	border-radius: 7px;
	box-shadow: 0 0 29px 0 rgba(75, 81, 91, .17);
	background: $white;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 9px;
		background: $primary;
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		pointer-events: none;
	}

	&::after {
		z-index: 2;
		opacity: 0;
		transform: scale(-1, 1);
	}

	> * {
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
	}

	&:hover {
		&::after {
			animation: 1s .1s opacity-loop infinite alternate both ease-in-out;
		}
	}
}

.pt-classic_style-2 {
	&::before,
	&:after {
		background: $gradient-2;
	}
}

.pt-classic_style-3 {
	&::before,
	&:after {
		background: $gradient-3;
	}
}

.pt-classic_preferred {
	z-index: 2;
}

.pt-classic-header {
	max-width: 100%;

	.pt-classic-title {
		position: relative;
		padding: 0 30px;
	}

	.pt-classic-icon {
		position: absolute;
		right: 0;
		top: 15%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .15s ease-in-out, transform .6s;
	}

	.pt-classic-price-outer {
		padding: 0 75px;
		transition: .22s;
	}

	.badge {
		position: absolute;
		top: 10%;
		margin: 0;
		right: -15px;
		max-width: 100px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .15s ease-in-out;
	}
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
	.pt-classic-header {
		.badge {
			opacity: 1;
			visibility: visible;
			-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		}
	}
}

.pt-classic-group.active {
	.pt-classic-icon {
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
		transition: .22s .22s ease-in-out;

		.icon {
			&:nth-child(2) {
				transform: scale(1.85, 1.85);
				opacity: 0;
				visibility: hidden;
				transition: .22s .22s ease-in-out;
			}
		}
	}

	.pt-classic-header {
		.pt-classic-price-outer {
			padding-left: 40px;
		}
	}

	.badge {
		opacity: 1;
		visibility: visible;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition: .22s ease-in-out;
	}
}

.pt-classic-title {
	font-weight: 400;
	color: $primary;
}

.pt-classic-icon {
	position: relative;
	width: 30px;
	height: 30px;
	transform: translate(0, 5px);

	.icon {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 30px;

		&:nth-child(2) {
			opacity: 1;
			visibility: visible;
			transform: scale(1, 1);
		}
	}
}

.pt-classic-price {
	position: relative;
	white-space: nowrap;
	font-family: $font-family-sec;
	font-size: 45px;
	line-height: 1;
	font-weight: 100;
	color: $headings-color;
	letter-spacing: -.1em;

	> * {
		letter-spacing: .025em;
	}
}

.pt-classic-price-currency,
.pt-classic-price-value {
	display: inline-block;
}

.pt-classic-price-outer {
	position: relative;

	> *:first-child {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	[aria-hidden='false'] {
		animation: .22s ease-in object-show forwards;
	}

	[aria-hidden='true'] {
		animation: .22s ease-in object-hide forwards;
	}
}

.pt-classic-price-currency {
	position: relative;
	top: -.2em;
	font-size: (30 / 75) * 1em;
}

.pt-classic-divider {
	height: 1px;
	width: 100%;
	background: $gradient-light-1;
}

.pt-classic-list {
	padding: 0 10px;
	font-weight: 400;
	text-align: left;

	li {
		position: relative;
		padding-left: 30px;
		display: block;
		color: $headings-color;
		font-size: 15px;
		line-height: 1.3;

		&::before {
			content: '\eab9';
			position: absolute;
			left: 0;
			font-family: 'Linearicons';
			color: $primary;
			font-size: (18 / 15) * 1em;
			line-height: inherit;
		}

		&[aria-disabled='true'] {
			color: $gray-400;
			&::before {
				color: $gray-400;
			}
		}
	}

	li + li {
		margin-top: 14px;
	}
}

.pt-classic-note {
	color: $headings-color;
	opacity: .3;
}

* + .pt-classic-group { margin-top: 25px; }

* + .pt-classic-price-outer { margin-top: 15px; }

* + .pt-classic-divider { margin-top: 20px; }

* + .pt-classic-list { margin-top: 20px; }

* + .pt-classic-footer { margin-top: 30px; }

@include media-breakpoint-down(md) {
	.pt-classic {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(sm) {
	.pt-classic-list {
		padding: 0 15px;
	}
}

@include media-breakpoint-up(md) {
	.pt-classic {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.pt-classic-price {
		font-size: 50px;
	}

	.pt-classic-list {
		li + li {
			margin-top: 17px;
		}
	}

	* + .pt-classic-group { margin-top: 30px; }
	* + .pt-classic-price-outer { margin-top: 25px; }
	* + .pt-classic-divider { margin-top: 30px; }
	* + .pt-classic-list { margin-top: 30px; }
}

@include media-breakpoint-between(md, lg) {
	.pt-classic-group {
		.row {
			margin-right: 0;
			margin-left: 0;

			> [class*='col'] {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.pt-classic {
		padding: 53px 25px;
	}

	.pt-classic-header {
		.pt-classic-price-outer {
			.badge {
				right: -25px;
			}
		}
	}

	.pt-classic_preferred {
		padding-top: 75px;
		padding-bottom: 30px;
	}

	.pt-classic-price {
		font-size: 75px;
	}

	* + .pt-classic-group { margin-top: 45px; }
	* + .pt-classic-list { margin-top: 35px; }
	* + .pt-classic-footer { margin-top: 42px; }
	* + .pt-classic-note { margin-top: 25px; }
}

//
// Pricing Table Creative
//
.pt-creative-group {
	display: flex;
	justify-content: space-around;
	padding: 25px 10px 30px;
	font-size: 15px;
	background: $white;
	border-radius: 7px;
	box-shadow: 0 0 27px 0 rgba(75, 81, 91, 0.15);
}

.pt-creative {
	width: 200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	.pt-creative-features {
		li {
			&::after {
				background: $gradient-light-1;
			}
		}
	}
}

.pt-creative-main {
	flex-grow: 1;
	flex-shrink: 0;
	width: calc(100% - 155px);
	
	
	.owl-carousel {
		display: flex;
	} 
	
	.owl-stage-outer {
		margin: -10px;
		padding: 10px;
	}

	.owl-stage {
		display: flex;
		align-items: flex-end;
	}

	.owl-item {
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}

	.owl-prev,
	.owl-next {
		top: 16.5%;
		background-color: transparent;
		box-shadow: 0 0 20px 0 rgba($black, .06);

		&.disabled {
			opacity: .2;
			pointer-events: none;
			filter: grayscale(100%);
		}
	}

	.owl-prev {
		transform: translate(-35%, 0);
	}

	.owl-next {
		transform: translate(35%, 0);
	}

	@include media-breakpoint-down(sm) {
		.owl-prev,
		.owl-next {
			box-shadow: none;
		}

		.button {
			padding: 10px 12px;
		}
	}
}

.pt-creative-aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 155px;
}

.pt-creative-aside-title {
	font-weight: 100;
	color: $body-color;

	// Extra large ≥1200px
	@include media-breakpoint-up(xl) {
		font-size: 32px;
	}
}

.pt-creative-title {
	font-weight: 600;
}

.pt-creative-price-outer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 80px;
	color: $headings-color;
}

.pt-creative-price,
.pt-creative-price-caption {
	position: relative;

	> *:first-child {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	[aria-hidden='false'] {
		animation: .22s ease-in object-show forwards;
	}

	[aria-hidden='true'] {
		animation: .22s ease-in object-hide forwards;
	}
}

.pt-creative-price-currency,
.pt-creative-price-small {
	position: relative;
	top: .22em;
	font-size: (22 / 39) * 1em;
}

.pt-creative-price-inner {
	white-space: nowrap;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -.16em;

	> * {
		display: inline-block;
		vertical-align: top;
		letter-spacing: .025em;
	}
}

.pt-creative-price-text {
	font-size: 26px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: $headings-color;
}

.pt-creative-price-value {
	font-weight: 700;
}

.pt-creative-divider {
	height: 1px;
	width: 100%;
	background: $gradient-light-1;
}

.pt-creative-text {
	line-height: (18 / 15);
}

.pt-creative-features {
	color: $headings-color;

	li {
		position: relative;
		display: block;
		padding: 10px 0;
		line-height: 22px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: $gray-200;
		}
	}

	.icon {
		font-size: 18px;
		color: $secondary;
	}

	li[aria-disabled='true'] {
		color: $body-color;
	}
}

.pt-creative-footer {
	position: relative;
	display: flex;
	align-items: center;

	&::after {
		content: '';
		display: block;
		min-height: 60px;
		padding-bottom: 30%;
		visibility: hidden;
		pointer-events: none;
	}

	&::after,
	.pt-creative-footer-inner {
		width: 100%;
		flex-shrink: 0;
	}
}

* + .pt-creative-group { margin-top: 30px; }

* + .pt-creative-divider { margin-top: 10px; }

* + .pt-creative-features { margin-top: 10px; }

* + .pt-creative-footer { margin-top: 25px; }

@media (max-width: 360px) {

	.pt-creative {
		.button {
			font-size: 12px;

			.icon { display: none; }
		}
	}
}

@media (max-width: 399px) {
	.pt-creative-group {
		margin-left: -13px;
		margin-right: -13px;
	}
}

@media (min-width: 400px) {
	.pt-creative-group {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@include media-breakpoint-down(sm) {
	.pt-creative-features {
		font-size: 12px;
	}

	.pt-creative-features {
		.icon {
			font-size: 16px;
		}
	}
}

@include media-breakpoint-up(sm) {
	.pt-creative-aside {
		width: 200px;
	}

	.pt-creative-main {
		max-width: calc(100% - 200px);
	}
}

@include media-breakpoint-up(md) {
	.pt-creative-group {
		padding: 60px 20px 60px 30px;
	}

	.pt-creative-price-inner {
		font-size: 39px;
	}

	.pt-creative-price-caption {
		font-size: $font-size-lg;
		line-height: $line-height-lg;
	}

	.pt-creative-features {
		li {
			padding: 13px 0 14px;
		}
	}

	* + .pt-creative-price-outer { margin-top: 10px; }
	* + .pt-creative-text { margin-top: 19px; }
	* + .pt-creative-features { margin-top: 20px; }
	* + .pt-creative-footer { margin-top: 30px; }
	.pt-creative-aside-title + .pt-creative-features { margin-top: 45px; }
}

@include media-breakpoint-up(xl) {
	* + .pt-creative-group { margin-top: 45px; }
	.pt-creative-aside-title + .pt-creative-features { margin-top: 65px; }
}

//
// Pricing Table Modern
//
.pt-modern {
	position: relative;
	overflow: hidden;
	border-radius: 7px;
	box-shadow: 0 0 29px 0 rgba(75, 81, 91, 0.17);
	background: $white;
	text-align: left;

	.nav-tabs {
		padding: 30px 15px;
		font-size: 15px;
		line-height: 1.5;
	}

	.nav-item {
		padding: 5px;
		cursor: unset;
	}

	.nav-link {
		position: relative;
		display: block;
		padding-left: 30px;
		font-family: $headings-font-family;
		font-weight: 600;
		font-size: 17px;
		line-height: 1.3;
		color: $headings-color;
		cursor: pointer;

		> * {
			display: inline-block;
			margin-right: 12px;
			vertical-align: middle;
		}
	}

	.nav-link,
	.nav-item-indicator {
		transition: .22s ease-in-out;
	}

	.nav-link:hover,
	.nav-link.active {
		color: $primary;
		.nav-item-indicator {
			border-color: $primary;
		}
	}

	.nav-link.active {
		.nav-item-indicator {
			&::after {
				opacity: 1;
				visibility: visible;
				background: $primary;
			}
		}
	}

	.tab-content {
		display: flex;
	}

	.tab-content > .tab-pane {
		display: flex;
		width: 0;
	}

	.tab-pane {
		flex-direction: column;
		transition: opacity .02s ease-in;
		
		> * {
			border-top: 1px solid $gray-200;
		}
	}

	.tab-pane.active {
		width: 100%;
		transition: opacity .14s ease-in;
	}
}

span.nav-item-indicator {
	position: absolute;
	display: inline-flex;
	left: 0;
	top: 3px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 3px solid $gray-200;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		background: $gray-200;
		border-radius: 50%;
		opacity: 0;
	}
}

.pt-modern-features {
	color: $headings-color;
	@include groupY(10px);
	font-size: 14px;

	&,
	.icon {
		transition: .22s ease-in-out;
	}

	li {
		position: relative;
		padding-left: 24px;
	}

	.icon {
		position: absolute;
		left: 0;
		top: .2em;
		font-family: 'Material Design Icons';
		color: $secondary;

		&::before {
			content: '\f222';
		}
	}

	[aria-disabled='true'] {
		&,
		.icon {
			color: $body-color;
		}

		.icon {
			&::before {
				content: '\f24c';
			}
		}
	}

	> li + li {
		margin-top: 0;
	}
}

.pt-modern-price-outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 15px;
}

.pt-modern-price {
	white-space: nowrap;
	font-family: $font-family-sec;
	font-size: 35px;
	line-height: 1;
	color: $headings-color;

	> * {
		display: inline;
		vertical-align: top;
		line-height: 1;
		letter-spacing: 0;
	}
	
	> * + * {
		margin-left: .1em;
	}
}

.pt-modern-price-value {
	font-weight: 100;
}

.pt-modern-price-currency,
.pt-modern-price-small {
	position: relative;
	top: .15em;
	font-weight: 400;
}

.pt-modern-price-currency {
	font-size: (34 / 60) * 1em;
}

.pt-modern-price-small {
	font-size: (30 / 60) * 1em;
}

.pt-modern-price-caption {
	color: $headings-color;
}

.pt-modern-element .link {
	display: flex;
	justify-content: center;
	padding: 20px 15px; 
	text-align: center;

	&:hover {
		color: $gray-800;
		background: rgba($gray-100, .66);
	}
}

.nav-link:not(.active) + .pt-modern-features {
	&, .icon {
		color: $body-color;
	}
}

* + .pt-modern { margin-top: 35px; }
* + .pt-modern-features { margin-top: 15px; }
* + .pt-modern-price-caption { margin-top: 4px; }

@include media-breakpoint-down(md) {
  .pt-modern {
		.nav-tabs-outer {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 40px;
				right: 0;
				background: linear-gradient(to left, rgba($white, .9) 0%, rgba($white, 0) 100%);
				z-index: 2;
				pointer-events: none;
			}
		}
		
		.nav-tabs {
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			max-width: 100%;
			width: 100%;
			overflow-x: auto;
			padding-bottom: 20px;
		}

		.nav-item {
			flex-shrink: 0;
			min-width: 200px;
			padding-right: 25px;
		}
	} 
	
	.pt-modern-price-outer {
		flex-direction: row;
	}
	
	* + .pt-modern-price-caption {
		margin-top: 0;
		margin-left: 30px;
	}
	
	@media (min-width: 410px) {
		.pt-modern {
			.tab-pane { 
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
		.pt-modern-price-outer {
			width: 50%;
			flex-direction: column;
		}

		.pt-modern-price-outer + .pt-modern-price-outer {
			border-left: 1px solid $gray-200;
		}
		
		.pt-modern-element {
			width: 100%;
		}

		* + .pt-modern-price-caption {
			margin-top: 5px;
			margin-left: 0;
		}
	}
}

@include media-breakpoint-up(md) {
	.pt-modern {
		display: flex;
		.nav-tabs-outer {
			width: 100%;
			flex-grow: 1;
		}
		
		.nav-tabs {
			display: flex;
			flex-wrap: wrap;
			padding: 40px 20px 50px 20px;
			@include groupY(20px);
		}

		.nav-item {
			width: 50%;
		}

		.nav-link {
			padding-left: 36px;
			font-size: 18px;
		}

		.tab-content {
			display: flex;
			width: 23.5%;
			border-left: 1px solid $gray-200;
		}

		.tab-pane {
			> * + * {
				margin-top: 0;
				border-top: 1px solid $gray-200;
			}
		}
	}

	span.nav-item-indicator {
		width: 26px;
		height: 26px;
	}

	.pt-modern-price-currency {
		font-size: (22 / 60) * 1em;
	}

	.pt-modern-price-small {
		font-size: (20 / 60) * 1em;
	}

	.pt-modern-price-caption {
		font-size: $font-size-lg;
		line-height: $line-height-lg;
	}
	
	.pt-modern-element .link {
		padding: 30px 20px;
	} 
	
	* + pt-modern-price-caption { margin-top: 12px; }
}

@include media-breakpoint-up(lg) {
	.pt-modern {
		.nav-tabs {
			padding: 43px 20px 75px 28px;
		}

		.nav-item {
			padding: 15px;
		}

		.nav-link {
			padding-left: 40px;
			font-size: 22px;
		}
	}
	
	span.nav-item-indicator {
		top: 5px;
	}
	
	.pt-modern-features {
		font-size: 15px;
	}

	.pt-modern-price {
		font-size: 60px;
	}
	
	.pt-modern-price-currency,
	.pt-modern-price-small {
		top: .45em;
	}

	.pt-modern-element .link {
		padding: 35px 20px;
	}
}

@include media-breakpoint-up(xl) {
	.pt-modern {
		.nav-tabs {
			@include groupY(30px);
		}

		.tab-content {
			width: 17.5%;
		}
	
	}

	.pt-modern-features {
		columns: 2;
		break-inside: avoid;
		column-gap: 10px;

		> * {
			display: inline-block;
			width: 100%;
		}
	}

	* + .pt-modern { margin-top: 55px; }
	* + .pt-modern-features { margin-top: 27px; }
} 
