/** @section Typography */

// Body
body {
	font-size: 14px;
	letter-spacing: $letter-spacing-base;
	background-color: $body-bg;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	
	@include media-breakpoint-down(md) {
		line-height: 1.6; 
	}
	
	@include media-breakpoint-up(md) {
	  font-size: $font-size-base; 
	}
}

// Headings
#{headings()} {
	margin-top: 0;
	margin-bottom: 0;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	text-transform: uppercase;
	color: $headings-color;

	a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

// {0 - 768px} <= 40px
// {768px - 992px} <= 62px
h1,
.heading-1 {
	font-size: 34px;
	font-weight: 800;
	line-height: 1.5;
	letter-spacing: .025em;
	
	@include media-breakpoint-up(md) {
		font-size: 40px;
	}

	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
	}
}


// {0 - 768px} <= 36px
// {768px - 992px} <= 52px
h2,
.heading-2 {
	font-size: 28px;
	line-height: 1.35;
	letter-spacing: 0;
	
	@include media-breakpoint-up(md) {
		font-size: 34px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 40px;
		line-height: $h2-line-height;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h2-font-size;
	}
}


// {0 - 768px} <= 32px
// {768px - 992px} <= 44px
h3,
.heading-3 {
	font-size: 22px;
	line-height: 1.35;
	letter-spacing: 0;

	@include media-breakpoint-up(sm) {
		font-size: 24px;
	}
	
	@include media-breakpoint-up(md) {
		font-size: 30px;
	}

	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
		line-height: $h3-line-height;
	}
}


// {0 - 768px} <= 26px
// {768px - 992px} <= 36px
h4,
.heading-4 {
	font-size: 18px;
	line-height: 1.35;
	letter-spacing: 0;

	@include media-breakpoint-up(lg) {
		font-size: 19px;
	}
	
	@include media-breakpoint-up(xl) {
		font-size: $h4-font-size;
		line-height: $h4-line-height;
	}
	
	&.h4-bigger {
		@include media-breakpoint-up(xl) {
			font-size: 27px;
		} 
	}
}


// {0 - 768px} <= 22px
// {768px - 992px} <= 28px
h5,
.heading-5 {
	font-size: 16px;
	line-height: 1.35;
	letter-spacing: .025em;

	@include media-breakpoint-up(lg) {
		font-size: $h5-font-size;
		line-height: $h5-line-height;
	}
}


// {0 - 768px} <= 18px
// {768px - 992px} <= 22px
h6,
.heading-6 {
	font-size: 14px;
	line-height: 1.35;
	letter-spacing: .025em;

	@include media-breakpoint-up(sm) {
		font-size: $h6-font-size;
		line-height: $h6-line-height;
	}
}

.heading-7 {
	font-family: $font-family-base;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.35;
	color: $body-color;
	text-transform: uppercase;
	letter-spacing: .34em;
}

.heading-8 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	font-family: $font-family-base;
	text-transform: uppercase;
	color: rgba($black, .5);
}

* + .heading-8 { margin-top: 10px; }

.heading-alternate-1 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	
	@include media-breakpoint-up(sm) {
		font-size: 20px; 
	}
	
	@include media-breakpoint-up(md) {
		font-size: 24px; 
	}
	
	@include media-breakpoint-up(lg) {
		font-size: 29px; 
	}
}

.text-extra-large {
	font-family: $font-family-sec;
	font-size: 88px;
	line-height: 1;
	font-weight: 100;
	letter-spacing: .08em;
	color: $headings-color;

	@include media-breakpoint-up(sm) {
		font-size: 70px;
	}

	@include media-breakpoint-up(sm) {
		font-size: 155px;
	}

	@include media-breakpoint-up(xxl) {
		font-size: 250px;
	}
}

.heading-decoration-1 {
	position: relative;
	padding-left: 30px;
	
	&::before {
		content: '';
		position: absolute;
		top: .66em;
		left: 0;
		height: 1px;
		width: 20px;
		background: $gray-300;
	}
	
	span {
		display: inline-block;
		line-height: 1.1;
	}
	
	br {
	}
	
	@include media-breakpoint-up(sm) {
		padding-left: 40px;

		&::before {
			top: .8em;
			width: 24px;
		}
	}
	
	@include media-breakpoint-up(xl) {
		padding-left: 85px;
		&::before {
			top: .65em;
			width: 60px;
		}
	}
}

.heading-decoration-2 {
	position: relative;
	padding-left: 30px;
	line-height: 1.05;

	&::before {
		content: '';
		position: absolute;
		top: .7em;
		left: 0;
		height: 3px;
		width: 20px;
		background: $primary;
	}

	span {
		display: inline;
		margin-right: .25em;
		line-height: 1.1;
	}

	@include media-breakpoint-up(sm) {
		padding-left: 60px;

		&::before {
			top: .8em;
			height: 4px;
			width: 35px;
		}
	}
	
	@include media-breakpoint-up(xl) {
		&::before {
			top: .66em;
		}
	} 
}

.heading-mod-1 {
	margin-top: -.35em;
	span {
		display: inline;
		line-height: 1.2;
	}
	
	br {
		display: flex;
		height: 0;
	}
}

// Emphasis
small,
.small {
	display: block;
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

mark,
.mark {
	padding: 3px 5px;
	color: $white;
	background: $primary;
}

// Big text
.big {
	font-size: 15px;
	line-height: 1.4;
	font-weight: 300;
	letter-spacing: .025em;
	
	@include media-breakpoint-up(lg) {
		font-size: 16px;
		line-height: 1.5;
	}
	
	@include media-breakpoint-up(xl) {
		font-size: $font-size-lg;
		line-height: $line-height-lg; 
	}
}

.lead {
	font-size: $lead-font-size;
	line-height: $lead-line-height;
	font-weight: $lead-font-weight;
}

code {
	padding: $code-padding-y $code-padding-x;
	border-radius: $border-radius-sm;
	font-size: $code-font-size;
	color: $code-color;
	background: $code-bg;
}

// Paragraph
p {
	[data-bs-toggle='tooltip'] {
		padding-left: .25em;
		padding-right: .25em;
		color: $primary; 
	}

	[style*='max-width'] {
		display: inline-block;
	}
}

// Selection
::selection {
	background: rgba($gray-900, .5); 
	color: $white;
}

::-moz-selection {
	background: rgba($gray-900, .5);
	color: $white;
}

.text-1 {
	color: $gray-900;
	letter-spacing: 0;
	
	> * {
		margin-right: .2em;
	}
}
