/** @section Backgrounds */

.context-dark {
	@extend %context-dark;
}

%context-dark {
	// Logo
	.brand {
		.brand-logo-dark {
			display: none;
		}

		.brand-logo-light {
			display: block;
		}
	}

	.button-default {
		color: $gray-800;
		background: $white;
		border-color: $white;

		&:hover {
			background: $tertiary;
			border-color: $tertiary;
		}
	}

	.heading-decoration-1 {
		&::before {
			background: rgba($white, .66);
		}
	}

	.select2-container--default .select2-selection--single {
		border-color: $white;
	}
}

%context-light {
	// Logo
	.brand {
		.brand-logo-dark {
			display: block;
		}

		.brand-logo-light {
			display: none;
		}
	}
}

/*
* Light Backgrounds
*/
.bg-white {
	@include bg-behaviour($white);
}

.bg-gray-100 {
	@include bg-behaviour($gray-100);
}

.bg-gray-100-color {
	background: $gray-100;
}

.bg-gray-3 {
	@include bg-behaviour($gray-3);
}

/*
* Dark Backgrounds
*/
.bg-gray-900 {
	@extend %context-dark;
	@include bg-behaviour($gray-900);
}

/*
* Accent Backgrounds 
*/
.bg-accent {
	@extend %context-dark;
	background: $primary;

	// Buttons
	.button-gray-700 {
		&:hover {
			color: $gray-700;
			background: $white;
			border-color: $white;
		}
	}
	.button-default-outline {
		color: $white;
		border-color: $white;

		&:hover {
			border-color: $secondary;
		}
	}

	.button-primary {
		color: $gray-900; 
		background: $tertiary;
		border-color: $tertiary;

		&:hover {
			background: $white;
			border-color: $white;
		}
	}

	.button-secondary {
		&:hover {
			color: $gray-900;
			background: $white;
			border-color: $white;
		}
	}

	.button-color-8 {
		background: #89c5e6;
		border-color: #89c5e6;
		&:hover {
			background: $secondary;
			border-color: $secondary;
		}
	}

	.rd-navbar-aside-open-toggle {
		span {
			background: $white;
		}
	}
}

/*
* Background Image
*/
.bg-image {
}

[class*='bg-'] {
	background-size: cover;
	background-position: center center;
}

// Desktop only
//
html:not(.tablet):not(.mobile) {
	.bg-fixed {
		@include media-breakpoint-up(lg) {
			background-attachment: fixed;
		}
	}
}

//
// Background Overlay
//
[class*='bg-overlay'] {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		z-index: 1;
	}

	> * {
		position: relative;
		z-index: 1;
	}
}

.bg-overlay-1 {

	&::before {
		background: rgba($primary, .74);
	}
}

.bg-overlay-2 {
	&::before {
		background: rgba($black, .12);
	}
}

.bg-overlay-3 {
	&::before { 
		opacity: .77;
		background-image: linear-gradient(-90deg, darken(saturate(adjust_hue($primary, -0.1403586944413462), 2.37163077849722%), 0.5882352941176521%) 0%, lighten(desaturate(adjust_hue($primary, 12.397163120567399), 11.803713527851471%), 16.274509803921568%) 100%);
	}
}

.bg-overlay-4 {
	&::before {
		opacity: .78;
		background-image: linear-gradient(to top, rgba($white, 1) 0%, rgb(8, 165, 193) 100%);
	}
}

.bg-overlay-5 {
	&::before {
		opacity: .78;
		background-image: linear-gradient(to bottom, rgb(19, 182, 210) 0%, rgb(30, 136, 210) 100%);
	}
}
