/** @section Page Layout */

// Page
.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	opacity: 0;

	&.fadeIn { animation-timing-function: ease-out; }
	&.fadeOut { animation-timing-function: ease-in; }

	[data-x-mode] & {
		opacity: 1;
	}
}

.page-header-1 {
	position: relative;
	overflow: hidden;
	
	.rd-navbar-modern {
		&.rd-navbar-static {
			z-index: $zindex-rd-navbar;

			.rd-navbar-element {
				&::after {
					opacity: 1;
					visibility: visible;
					transition: .22s;
				}
			}
			
			&:not(.rd-navbar--is-stuck) {
				.rd-navbar-element {
					&::after {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
	}
}


.page-header-2 {
	position: relative;
	z-index: 100;
	
	.rd-navbar-modern {
		&.rd-navbar-static {
			background-color: transparent;
			
			&::after {
				bottom: 0;
			}
			
			.rd-navbar-element {
				&::after {
					display: none;
				}
			}
			
			.rd-navbar-nav {
				text-align: center;
			}
			
			.rd-nav-link {
				color: $white;
				
				&:hover {
					color: $tertiary;
				}
			}
			
			.rd-nav-item {
				&.focus,
				&.active,
				&.opened {
					.rd-nav-link,
					> .rd-navbar-submenu-toggle {
						color: $tertiary;
					}
				}
			}
			
			&.rd-navbar--is-stuck {
				background: $gray-800;
				border-bottom-color: $gray-900;
				
				&::after {
					border-bottom-color: $gray-900;
				}
			}
		}
		&.rd-navbar-fixed {
			.rd-navbar-panel { 
				background: $gray-800;
				border-bottom-color: $black;
			}

			.rd-navbar-element {
				background-color: transparent;
			}

			.rd-navbar-aside-open-toggle {
				opacity: .7;
			}
		}
	}
}

.page-header-2-inner {
	padding: 40px 0;
}

.page-header-2-inner-aside {
	padding: 20px 0 0;
}

.page-header-2-inner-aside + h4,
.page-header-2-inner-aside + .heading-4 { margin-top: 20px; }

@include media-breakpoint-down(md) {
	.page-header-2-inner {
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
	} 
}

@include media-breakpoint-up(md) {
	.page-header-2-inner {
		padding-bottom: 60px;
	}
	
	.page-header-2-inner-aside + h4,
	.page-header-2-inner-aside + .heading-4 { margin-top: 35px; } 
}

@include media-breakpoint-up(xl) {
	.page-header-2-inner {
		padding: 40px 0 100px;
	} 
} 

//
// Page Header 3
//
.page-header-3 {
	position: relative;
	z-index: $zindex-rd-navbar;
	
	.rd-navbar-wrap {
		position: relative;
		z-index: 10;
	}
	
	.rd-navbar-classic {		
		&.rd-navbar-static {
			border-bottom-color: $gray-200;
		
			.rd-navbar-panel {
				position: relative;
				z-index: 2;
				overflow: hidden;
				width: 190px;
				justify-content: flex-start;
				border: 0;
				background: $primary;
				
				&::before,
				&::after {
					content: '';
					position: absolute;
					left: -10%;
					right: -8px;
					height: 50.2%;
					z-index: 0;
					background: lighten(desaturate(adjust_hue($primary, -2.586963863559589), 6.916835699797147%), 4.509803921568626%);
				}
				
				$deg: 44deg;
				
				&::before {
					top: 0;
					transform: skew(-$deg);
				}
				
				&::after {
					bottom: 0;
					transform: skew($deg);
				}
				
				> * {
					position: relative;
					z-index: 1;
				}
			}
			
			.brand-logo-dark { display: none; }
			.brand-logo-light { display: block; }
			
			.rd-navbar-slogan {
				position: relative;
				z-index: 1;
				width: calc(190px + 15.1vw);
				margin-left: -190px;
				color: $white;
				background-color: transparent;
				 
				&::before {
					content: '';
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: $primary;
				}
				
				&::after {
					content: '';
					position: absolute;
					right: 0;
					bottom: -1px;
					width: 100vw;
					border-bottom: 1px solid lighten(desaturate(adjust_hue($primary, -0.41344294003866366), 11.743144175943513%), 4.313725490196077%);
				}
			}
			
			@media(min-width: 1920px) {
				.rd-navbar-slogan {
					width: calc(58vw - 480px);
				}
			} 
			
			p.rd-navbar-slogan {
				padding-left: 215px;
			}

			.rd-navbar-link-1 {
				&:not(:hover) {
					background-color: transparent;	
				}	
			}
			
			&.rd-navbar--is-stuck {
				.rd-navbar-slogan {
					visibility: visible !important;
				}
			}
		}
		
		&.rd-navbar-fixed {
			
		}
	}

	.rd-navbar-static-linked & .box-custom-4-aside-decoration {
		top: -100px;
	}
}

.page-header-4 {

	.rd-navbar-modern {
		&.rd-navbar-static {

			.rd-navbar-nav {
				justify-content: center;

				// Mega large ≥1600px
				@include media-breakpoint-up(xxl) {
					padding-left: 150px;
				}
			}

			.rd-navbar-element {
				&::after {
					display: none;
				}
			}
		}
	}
}
