/** @section Sections */

//
// Section Spacing
// 
.section-xs {
	padding: 25px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl {
	padding: 50px 0;
}

.section-1 {
	padding: 15px 0 30px;
}

.section-2 {
	padding: 35px 0 50px;
}

// Section collapse
.section-collapse + .section-collapse {
	padding-top: 0;
}

.section-collapse:last-child {
	padding-bottom: 0;
}

// Section with zero padding
html [class*='section-'].section-top-0 {
	padding-top: 0;
}

html [class*='section-'].section-bottom-0 {
	padding-bottom: 0;
}

@include media-breakpoint-down(lg) {
	section.section-sm,
	section.section-md,
	section.section-lg,
	section.section-xl,
	section.section-xxl {
		&:first-of-type {
			padding-top: 40px;
		}
	}
}

@include media-breakpoint-up(md) {
	.section-sm {
		padding: 55px 0;
	}

	.section-md {
		padding: 70px 0;
	}

	.section-lg {
		padding: 85px 0;
	}

	.section-1 {
		padding: 60px 0 70px;
	}

	.section-2 {
		padding: 55px 0 75px;
	}
}

@include media-breakpoint-up(lg) {
	.section-sm {
		padding: 60px 0 65px;
	}
	
	.section-md {
		padding: 85px 0 95px;
	}

	.section-lg {
		padding: 100px 0;
	}
}

@include media-breakpoint-up(xl) {
	.section-lg {
		padding: 100px 0 110px;
	}

	.section-1 {
		padding: 80px 0;
	}
}

//
// Custom sections
//

// Section single
.section-single {
	display: flex;
	text-align: center;

	p {
		margin-left: auto;
		margin-right: auto;
	}

	* + .rights {
		margin-top: 35px;
	}
	* + .countdown-wrap {
		margin-top: 35px;
	}
	.countdown-wrap + * {
		margin-top: 35px;
	}

	@include media-breakpoint-up(lg) {
		* + .rights {
			margin-top: 60px;
		}
		.countdown-wrap + * {
			margin-top: 35px;
		}
	}

	.rd-mailform-wrap {
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	* + .rd-mailform-wrap {
		margin-top: 20px;
	}
}

.section-single-header {
	padding: calc(1em + 3vh) 0 calc(1em + 2vh);
}

.section-single-main {
	padding: calc(1em + 4vh) 0;
}

.section-single-footer {
	padding: calc(1em + 2vh) 0 calc(1em + 3vh);
}

.section-single-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;

	> * {
		width: 100%;
	}
}

@supports (display: grid) {
	.section-single-inner {
		display: grid;
		justify-items: center;
		align-content: space-between;
		grid-template-columns: 1fr;
	}
}

//
// Section Layout 1
//
.section-layout-1 {
	position: relative;
	display: flex;

	.rights {
		color: $headings-color;
	}
}

.section-layout-1-image {
	display: none;
}

.section-layout-1-inner {
	position: relative;
	z-index: 1;
	display: flex;
	min-height: 100vh;
	flex-grow: 1;
}

.section-layout-1-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-layout-1-header,
.section-layout-1-footer {
	text-align: center;
}

.section-layout-1-header,
.section-layout-1-main,
.section-layout-1-footer {
	padding: 30px 0;
}

@include media-breakpoint-up(md) {
	.section-layout-1-content {
		max-width: 740px;
	}

	.section-layout-1-header {
		padding-top: 60px;
	}

	.section-layout-1-footer {
		padding-bottom: 60px;
	}
}

@include media-breakpoint-up(xl) {
	$proportion: (839 / 1920) * 100%;
	.section-layout-1-image {
		position: relative;
		display: block;
		flex-basis: $proportion;
		flex-shrink: 10;
		background-size: cover;
		background-position: 40% 0;

		&::after {
			display: none;
		}
	}

	.section-layout-1-inner {
		min-width: 100% - $proportion;
		flex-shrink: 0;
		padding: 0 60px;
	}

	.section-layout-1-content {
		margin-left: 0;
	}

	.section-layout-1-header,
	.section-layout-1-footer {
		text-align: left;
	}
}

@include media-breakpoint-up(xxl) {
	.section-layout-1-image {
		background-position: 48% 0;
	}

	.section-layout-1-inner {
		padding-left: 130px;
	}
}

@media (min-width: map-get($grid-breakpoints, xl)) and (min-height: 820px) {
	.section-layout-1-header {
		padding-top: 90px;
		padding-bottom: 40px;
	}

	.section-layout-1-footer {
		padding-top: 40px;
		padding-bottom: 90px;
	}
}

//
// Section Layout 2
//
.section-layout-2 {
	position: relative;
	display: flex;

	.rights {
		color: $headings-color;
	}
}

.section-layout-2-figure {
	display: none;
}

.section-layout-2-inner {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100vh;
	width: 100%;
}

.section-layout-2-header,
.section-layout-2-main,
.section-layout-2-footer {
	padding: 30px 0;
	text-align: center;
}

.section-layout-2-header,
.section-layout-2-footer {
	padding-left: 15px;
	padding-right: 15px;
}

@include media-breakpoint-up(md) {
	.section-layout-2-content {
		max-width: 640px;
	}

	.section-layout-2-header {
		padding-top: 60px;
	}

	.section-layout-2-footer {
		padding-bottom: 60px;
	}
}

@include media-breakpoint-up(xl) {
	$proportion: (839 / 1920) * 100%;
	.section-layout-2-main {
		display: flex;
		align-items: center;
		flex-grow: 1;
		text-align: left;
	}

	.section-layout-2-figure {
		position: relative;
		display: block;
		flex-basis: $proportion;
		align-self: stretch;

		&::before {
			content: '';
			display: block;
			padding-bottom: (593 / 828) * 100%;
		}

		img {
			position: absolute;
			top: 50%;
			left: 5%;
			transform: translate(-5%, -50%);
			min-height: 100%;
			min-width: 100%;
			width: auto;
			height: auto;
			max-width: none;

			@supports (object-fit: cover) {
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				transform: none;
				object-fit: cover;
				object-position: 5% center;
			}
		}
	}

	.section-layout-2-content {
		min-width: 100% - $proportion;
		flex-shrink: 0;
		max-width: 740px;
		padding: 30px 70px 70px;
		margin-left: 0;
	}
}

@include media-breakpoint-up(xxl) {
	.section-layout-2-content {
		padding-left: 140px;
		padding-bottom: 80px;
	}
}

@media (min-width: map-get($grid-breakpoints, xl)) and (min-height: 820px) {
	.section-layout-2-header {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.section-layout-2-footer {
		padding-top: 50px;
		padding-bottom: 60px;
	}
}

//
// Section Layout 3
//
.section-layout-3-outer {
	display: flex;
	flex-direction: column;
}

.section-layout-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	
	> * {
		width: 100%;
	}
	
	&::after {
		content: '';
		align-content: space-between;
		opacity: 0;
		visibility: hidden;
	}
}

//
// Section Decoration 1
//
.section-decoration-1 {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 45%;
		left: 70%;
		transform: translate3d(-50%, -55%, 0);
		display: block;
		content: '\e996';
		font-family: 'Linearicons';
		font-size: 120vw;
		vertical-align: middle;
		line-height: 0;
		color: $gray-2;
		user-select: none;
		opacity: .5;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	@include media-breakpoint-between(sm, lg) {
		&::before {
			font-size: 100vw;
		}
	}

	// Medium ≥768px
	@include media-breakpoint-up(md) {
		&::before {
			font-size: 54vw;
		}
	}

	@include media-breakpoint-up(lg) {
		&::before {
			top: 55%;
			left: 70%;
			transform: translate3d(-50%, -35%, 0);
			font-size: 90vw;
		}
	}

	@include media-breakpoint-up(xl) {
		&::before {
			font-size: 54vw;
		}
	}
}

.section + .section-decoration-1,
.section-decoration-1 + .section {
	border-top: 1px solid $gray-200;
}

//
// Section Decoration 2
//
.section-decoration-2 {
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, #f8f8f8, $white);

	> * {
		position: relative;
		z-index: 1;
	}
}

.section-decoration-2-element {
	position: absolute;
	z-index: 0;
	top: 25%;
	left: 53%;
	transform: translate3d(-50%, -55%, 0);
	display: block;
	font-family: 'Linearicons';
	font-size: 45vmax;
	vertical-align: middle;
	line-height: 1;
	color: $gray-2;
	user-select: none;
	
	&::before {
		content: '\e996';
	}
}

@include media-breakpoint-between(sm, lg) {
	.section-decoration-2-element {
		font-size: 100vmax;
	}
}

@include media-breakpoint-up(md) {
	.section-decoration-2-element {
		top: 24%;
		left: 0;
		transform: translate3d(-50%, -44%, 0);
		font-size: 80vmax;
	}
}

@include media-breakpoint-up(lg) {
	.section-decoration-2-element {
		font-size: 70vmax;
	}
}

@include media-breakpoint-up(xxl) {
	.section-decoration-2-element {
		font-size: 48vmax;
		left: 0;
		transform: translate3d(-42.5%, -44%, 0);
	}
}

// 
// Section Decoration 3
//
.section-decoration-3 {
	position: relative;
	overflow: hidden;
	padding: 50px 0 0;
}

.section-decoration-3-text {
	margin-left: .24em;
	margin-bottom: -.25em;
	font-size: 40px;
	line-height: 1;
	font-weight: 800;
	letter-spacing: .12em;
	color: rgba($body-color, .17);
	text-transform: uppercase;
	white-space: nowrap;
}

@include media-breakpoint-up(md) {
	.section-decoration-3 {
		padding: 85px 0 0;
	}

	.section-decoration-3-text {
		font-size: 90px;
	}
}

@include media-breakpoint-up(lg) {
	.section-decoration-3-text {
		font-size: 100px;
		letter-spacing: .3em;
	}

	* + .section-decoration-3-text { margin-top: 50px; }
}

@include media-breakpoint-up(xl) {
	.section-decoration-3-text {
		font-size: 115px;
		letter-spacing: .44em;
	}
}

//
// Section Decoration 4
//
.section-decoration-4 {
	position: relative;
	overflow: hidden;
	padding: 40px 0 100px;
	min-height: (580 / 1920) * 100vw;

	html & {
		background-color: transparent;
	}

	> * {
		position: relative;
		z-index: 3;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 1;
		z-index: 2;
		background: linear-gradient(to top, rgba(134, 180, 204, .05) 0%, rgba(76, 173, 213, 1) 100%);
	}
}

.section-decoration-4-decoration {
	position: absolute;
	left: -10%;
	bottom: -24%;
	right: -10%;
	z-index: 1;
	opacity: .8;
	width: auto;
	height: auto;
	pointer-events: none;
	
	img {
		width: 100%;
	}
}

@include media-breakpoint-down(md) {
	.section-decoration-4-decoration {
		min-width: 1000px;
	}
}

@include media-breakpoint-up(xl) {
	.section-decoration-4 {
		padding: 100px 0 240px;
	}
} 

@media (min-width: 2050px) {
	.section-decoration-4 {
		min-height: 580px;
	}
}


//
// Section Group
//
.section-group-top {
	padding: 50px 0 40px;
}

.section-group-bottom {
	padding: 10px 0 50px;
}

.section-group-bottom-content {
	position: relative;
	z-index: 1;
}

@include media-breakpoint-up(sm) {
	.section-group-top {
		padding-bottom: 80px;
	}
	
	.section-group-top + .section-group-bottom {
		padding-top: 0;
		margin-top: -40px;
	} 
}

@include media-breakpoint-up(md) {
	.section-group-top {
		padding: 80px 0 130px;
	}

	.section-group-top + .section-group-bottom {
		margin-top: -90px;
	}
}

@include media-breakpoint-up(xl) {
	.section-group-top {
		padding: 100px 0 190px;
	}

	.section-group-bottom {
		padding: 80px 0 100px;
	}

	.section-group-top + .section-group-bottom {
		margin-top: -140px;
	}
} 


