mixin rd-navbar-modern(obj)
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-modern(
		data-layout=                'rd-navbar-fixed'
		data-sm-layout=             'rd-navbar-fixed'
		data-md-layout=             'rd-navbar-fixed'
		data-md-device-layout=      'rd-navbar-fixed'
		data-lg-layout=             'rd-navbar-fixed'
		data-lg-device-layout=      'rd-navbar-fixed'
		data-xl-layout=             'rd-navbar-static'
		data-xl-device-layout=      'rd-navbar-static'
		data-xxl-layout=            'rd-navbar-static'
		data-xxl-device-layout=     'rd-navbar-static'
		data-lg-stick-up-offset=    '10px'
		data-xl-stick-up-offset=    '10px'
		data-xxl-stick-up-offset=   '10px'
		data-lg-stick-up=           'true'
		data-xl-stick-up=           'true'
		data-xxl-stick-up=          'true')
			.rd-navbar-main
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

					// RD Navbar Brand
					.rd-navbar-brand 
						a.brand(href='index.html')
							if (typeof obj !== 'undefined' && typeof obj.logo !== 'undefined')
								+png(obj.logo.normal)(srcset='images/' + obj.logo.retina + '.png 2x').brand-logo-dark
							else if(typeof obj !== 'undefined' && typeof obj.logoDark !== 'undefined' && typeof obj.logoLight !== 'undefined')
								+png(obj.logoDark.normal)(srcset='images/' + obj.logoDark.retina + '.png 2x').brand-logo-dark
								+png(obj.logoLight.normal)(srcset='images/' + obj.logoLight.retina + '.png 2x').brand-logo-light
							else
								+png(brand.default.normal)(srcset='images/' + brand.default.retina + '.png 2x').brand-logo-dark
								+png(brand.defaultInverse.normal)(srcset='images/' + brand.defaultInverse.retina + '.png 2x').brand-logo-light

				.rd-navbar-nav-wrap
					include ../includes/_navigation

				.rd-navbar-element( class= obj.navbarElementClass ? obj.navbarElementClass : false )
					a.button.button-sm.button-default-outline.button-winona(href='careers.html') Join Us
					button.rd-navbar-aside-open-toggle(data-multitoggle='#rd-navbar-aside' aria-label='Sidebar toggle') 
						span
						span
						span

				.rd-navbar-dummy
				
			if obj.aside
				#rd-navbar-aside.rd-navbar-aside 
					.rd-navbar-aside-header
						p.rd-navbar-aside-title Navigation
						button.rd-navbar-aside-close-toggle.linearicons-cross2(data-multitoggle='#rd-navbar-aside' data-scope='.rd-navbar' aria-label='Sidebar toggle')
						
					.rd-navbar-aside-main
						.rd-navbar-aside-group.navbar(data-navbar='{"stuck": false, "anchor": {"offsetRef": ".rd-navbar-main"}}')
							.navbar-inner
								each item in obj.aside
									a.rd-navbar-aside-link( class= {'active': item.title === pageName} href=item.link )=item.title