mixin quote-classic(obj)
	// Quote Classic
	blockquote.quote-classic&attributes(attributes)
		+jpg(obj.avatar).quote-classic-avatar
		.quote-classic-text
			block
				
		.quote-classic-meta
			cite.quote-classic-cite=obj.cite
			p.quote-classic-position=obj.position
