mixin post-vacancy(obj)
  // Post Vacancy
  a.post-vacancy(href='#')
    p.post-vacancy-title=obj.title
    .post-vacancy-meta
      ul.list-objects-inline
        li
          span.icon.text-primary.mdi.mdi-map-marker
          span=obj.location
        li
          span.icon.text-primary.mdi.mdi-clock
          span=obj.employment
        li
          span.icon.text-primary.mdi.mdi-calendar
          time(datetime=obj.time[0])=obj.time[1]