<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  <head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header page-header-4">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"> <a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#">Get Our App</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <div class="rd-menu rd-navbar-megamenu">
                      <ul class="rd-navbar-megamenu-inner">
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services-2.html">Services 2</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html">Pricing</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="careers.html">Careers</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login.html">Login</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="../templates/register.html">Register</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-element"><a class="button button-sm button-default-outline button-winona" href="careers.html">Join Us</a>
                <button class="rd-navbar-aside-open-toggle" data-multitoggle="#rd-navbar-aside" aria-label="Sidebar toggle"> <span></span><span></span><span></span></button>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
            <div class="rd-navbar-aside" id="rd-navbar-aside"> 
              <div class="rd-navbar-aside-header">
                <p class="rd-navbar-aside-title">Navigation</p>
                <button class="rd-navbar-aside-close-toggle linearicons-cross2" data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar" aria-label="Sidebar toggle"></button>
              </div>
              <div class="rd-navbar-aside-main">
                <div class="rd-navbar-aside-group navbar" data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                  <div class="navbar-inner"><a class="rd-navbar-aside-link active" href="about-us.html">About Us</a><a class="rd-navbar-aside-link" href="faq.html">FAQ</a><a class="rd-navbar-aside-link" href="testimonials.html">Testimonials</a><a class="rd-navbar-aside-link" href="our-team.html">Our Team</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-main context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-9">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-aside">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">About Us</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Who we Are-->
      <section class="section section-md">
        <div class="container">
          <div class="row row-50 align-items-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <h3>Providing quality<br> taxi services</h3>
              <p>Sunt turpises acquirere pius, clemens abactores. Cur vita mori? Dexter, secundus caculas callide demitto de fatalis, lotus fortis. Rusticus, neuter fugas interdum.</p>
              <!-- Quote Light-->
              <blockquote class="quote-light quote-light_1">
                <div class="quote-light-mark linearicons-quote-open"></div>
                <div class="quote-light-text">
                  <p>Lorem ipsum dolor sit amet, adipiscing elit. Pellentesque placerat eros ac finibus congue. Lorem ipsum dolor</p>
                </div>
              </blockquote>
            </div>
            <div class="col-md-4 col-lg-5 col-xl-6">
              <div class="inset-xl-left-40">
                <div class="thumbnail-classy">
                  <div class="thumbnail-classy-image bg-image" style="background-image: url(/images/web-app-1-650x500.jpg);"></div>
                  <div class="thumbnail-classy-caption"><a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=I5FlP07kdvM" data-lightgallery="item"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About-->
      <section class="section section-md bg-gray-100">
        <div class="container isotope-wrap">
          <div class="isotope row row-30" data-isotope-layout="masonry" data-isotope-group="about" data-lightgallery="group">
            <div class="col-12 col-sm-6 col-md-4 isotope-item">
              <div class="block-ratio-1 block-ratio-4">
                <div class="block-ratio-dummy"></div>
                <div class="block-ratio-content">
                  <h3>Gallery</h3>
                  <div class="heading-8">Our Best Moments</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-8 isotope-item"><a class="block-ratio block-ratio-3" data-lightgallery="item" href="/images/gallery-1-1200x800-original.jpg">
                <div class="block-ratio-dummy"></div>
                <div class="block-ratio-content bg-image" style="background-image: url(/images/gallery-1-770x426.jpg);">
                  <div class="block-ratio-title">Friendly Customer Service</div>
                </div><img src="/images/gallery-1-770x426.jpg" alt="" width="770" height="426" loading="lazy"/></a></div>
            <div class="col-12 col-sm-6 col-md-4 isotope-item"><a class="block-ratio block-ratio-2" data-lightgallery="item" href="/images/gallery-2-530x800-original.jpg">
                <div class="block-ratio-dummy"></div>
                <div class="block-ratio-content bg-image" style="background-image: url(/images/gallery-2-369x432.jpg);">
                  <div class="block-ratio-title">Easy-to-Use Mobile App</div>
                </div><img src="/images/gallery-2-369x432.jpg" alt="" width="369" height="432" loading="lazy"/></a></div>
            <div class="col-12 col-sm-6 col-md-4 isotope-item"><a class="block-ratio block-ratio-1" data-lightgallery="item" href="/images/gallery-3-1200x800-original.jpg">
                <div class="block-ratio-dummy"></div>
                <div class="block-ratio-content bg-image" style="background-image: url(/images/gallery-3-370x251.jpg);">
                  <div class="block-ratio-title">Taxi Booking</div>
                </div><img src="/images/gallery-3-370x251.jpg" alt="" width="370" height="251" loading="lazy"/></a></div>
            <div class="col-12 col-sm-6 col-md-4 isotope-item"><a class="block-ratio block-ratio-1" data-lightgallery="item" href="/images/gallery-4-1200x800-original.jpg">
                <div class="block-ratio-dummy"></div>
                <div class="block-ratio-content bg-image" style="background-image: url(/images/gallery-4-370x251.jpg);">
                  <div class="block-ratio-title">Vast Vehicle Fleet</div>
                </div><img src="/images/gallery-4-370x251.jpg" alt="" width="370" height="251" loading="lazy"/></a></div>
          </div>
        </div>
      </section>
      <!-- Welcome to Team-->
      <section class="section text-center">
        <div class="container">
          <div class="list-blocks-outer">
            <div class="list-blocks">
              <div class="list-blocks-item">
                <div class="list-blocks-item-inner">
                  <div class="list-blocks-icon mdi mdi-account-plus"></div>
                  <p class="list-blocks-title">Private Driver</p>
                  <p>Nunquam captis agripeta. Festus, bassus historias solite talem de nobilis, teres.</p>
                </div>
              </div>
              <div class="list-blocks-item">
                <div class="list-blocks-item-inner">
                  <div class="list-blocks-icon mdi mdi-airplane"></div>
                  <p class="list-blocks-title">Airport transfer</p>
                  <p>Cum vox cadunt, omnes rumores manifestum primus, dexter calcariaes.</p>
                </div>
              </div>
              <div class="list-blocks-item list-blocks-item_caption">
                <div class="list-blocks-item-inner">
                  <h3>Services</h3>
                  <div class="heading-8">What we do</div><a class="button button-secondary button-winona button-shadow" href="#">Get a taxi</a>
                </div>
              </div>
              <div class="list-blocks-item">
                <div class="list-blocks-item-inner">
                  <div class="list-blocks-icon mdi mdi-car"></div>
                  <p class="list-blocks-title">Baggage Transfer</p>
                  <p>Noster, primus speciess callide imperium de secundus, altus elogium.</p>
                </div>
              </div>
              <div class="list-blocks-item">
                <div class="list-blocks-item-inner">
                  <div class="list-blocks-icon mdi mdi-home-modern"></div>
                  <p class="list-blocks-title">Corporate Taxi</p>
                  <p>Cum abaculus ire, omnes orgiaes prensionem raptus, bassus zetaes.</p>
                </div>
              </div>
              <div class="list-blocks-item">
                <div class="list-blocks-item-inner">
                  <div class="list-blocks-icon mdi mdi-map"></div>
                  <p class="list-blocks-title">Delivery Service</p>
                  <p>Cum urbs peregrinatione, omnes parses convertam germanus, fatalis danistaes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- People Ready to Change the World -->
      <section class="section section-md bg-gray-100 text-center">
        <div class="container">
          <h3>Our team</h3>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel_profile-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-owl='{"dots":true}'>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-1-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Irene Coleman</h4>
                  <p class="profile-modern-position">Founder, Owner</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-2-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Kenneth Lee</h4>
                  <p class="profile-modern-position">Driver</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-3-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Kate Morris</h4>
                  <p class="profile-modern-position">Dispatcher</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-4-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Joshua James</h4>
                  <p class="profile-modern-position">Junior Dispatcher</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-5-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Larry Williams</h4>
                  <p class="profile-modern-position">Driver</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-6-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Jason Barnes</h4>
                  <p class="profile-modern-position">Driver</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-1-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Irene Coleman</h4>
                  <p class="profile-modern-position">Founder, Owner</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
              <figure class="profile-modern-figure"><img class="profile-modern-image" src="/images/team-2-266x227.jpg" alt="" width="266" height="227" loading="lazy"/>
              </figure>
              <div class="profile-modern-main">
                <div class="profile-modern-main-item profile-modern-main-item_primary">
                  <h4 class="profile-modern-name">Kenneth Lee</h4>
                  <p class="profile-modern-position">Driver</p>
                </div>
                <div class="profile-modern-main-item profile-modern-main-item_secondary">
                  <h4 class="profile-modern-main-title">Get in Touch</h4>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                  </ul>
                  <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section class="section oh">
        <div class="container">
          <div class="row justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-5 col-xl-4">
              <div class="section-md">
                <h3>How we work</h3>
                <p class="offset-top-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat eros ac finibus congue. Integer</p><a class="button button-secondary button-winona" href="#">Order a taxi</a>
              </div>
            </div>
            <div class="col-md-10 col-lg-7">
              <!-- Timeline-->
              <div class="timeline-classic timeline-classic_1">
                <div class="timeline-classic-item">
                  <div class="timeline-classic-item-inner">
                    <div class="timeline-classic-item-decoration"></div>
                    <p class="timeline-classic-title"><span class="text-primary">Step 1.</span><span>Choose a pickup address</span></p>
                    <div class="timeline-classic-text">
                      <p>Pellentesque placerat eros ac finibus congue. Integer consectetur, lorem nec accumsan commodo, sem mauris</p>
                    </div>
                  </div>
                </div>
                <div class="timeline-classic-item">
                  <div class="timeline-classic-item-inner">
                    <div class="timeline-classic-item-decoration"></div>
                    <p class="timeline-classic-title"><span class="text-primary">Step 2.</span><span>Choose your destination</span></p>
                    <div class="timeline-classic-text">
                      <p>Albus, emeritis hibridas hic dignus de fortis, altus orexis. Regius axonas ducunt ad historia.</p>
                    </div>
                  </div>
                </div>
                <div class="timeline-classic-item">
                  <div class="timeline-classic-item-inner">
                    <div class="timeline-classic-item-decoration"></div>
                    <p class="timeline-classic-title"><span class="text-primary">Step 3.</span><span>Pick a driver</span></p>
                    <div class="timeline-classic-text">
                      <p>Sunt nomenes captis castus, azureus contencioes. Emeritis, clemens rumors satis amor de pius, mirabilis.</p>
                    </div>
                  </div>
                </div>
                <div class="timeline-classic-item">
                  <div class="timeline-classic-item-inner">
                    <div class="timeline-classic-item-decoration"></div>
                    <p class="timeline-classic-title"><span class="text-primary">Step 4.</span><span>Select a preferred car</span></p>
                    <div class="timeline-classic-text">
                      <p>Camerarius species vix quaestios historia est. Camerarius, bassus tumultumques saepe gratia de teres. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-accent text-center">
        <div class="container">
          <h3>Testimonials</h3>
          <div class="owl-carousel owl-carousel_type-1" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-owl='{"dots":true,"nav":true}'>
            <!-- Quote Classic-->
            <blockquote class="quote-classic"><img class="quote-classic-avatar" src="/images/testimonials-1-102x102.jpg" alt="" width="102" height="102" loading="lazy"/>
              <div class="quote-classic-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat eros ac finibus congue. Integer consectetur, lorem nec accumsan, sem mauris pharetra arcu, id viverra eros</p>
              </div>
              <div class="quote-classic-meta">
                <cite class="quote-classic-cite">Alice Doe</cite>
                <p class="quote-classic-position">Regular Client</p>
              </div>
            </blockquote>
            <!-- Quote Classic-->
            <blockquote class="quote-classic"><img class="quote-classic-avatar" src="/images/testimonials-2-102x102.jpg" alt="" width="102" height="102" loading="lazy"/>
              <div class="quote-classic-text">
                <p>Fortiss ridetis, tanquam bassus stella. Extums manducare in cella! Lixa azureus fides est. Plasmators prarere! Bromiums unda! Pol, fluctui! Eheu. Homos credere! Dexter, noster frondators.</p>
              </div>
              <div class="quote-classic-meta">
                <cite class="quote-classic-cite">John Williams</cite>
                <p class="quote-classic-position">Regular Customer</p>
              </div>
            </blockquote>
            <!-- Quote Classic-->
            <blockquote class="quote-classic"><img class="quote-classic-avatar" src="/images/testimonials-3-102x102.jpg" alt="" width="102" height="102" loading="lazy"/>
              <div class="quote-classic-text">
                <p>Paluss ortum, tanquam festus capio. A falsis, domus bi-color rumor. Ubi est flavum lixa? Domesticus lactea sed mire locuss fiscina est. Cum resistentia prarere, omnes parses reperire.</p>
              </div>
              <div class="quote-classic-meta">
                <cite class="quote-classic-cite">Scott Johnson</cite>
                <p class="quote-classic-position">Regular Customer</p>
              </div>
            </blockquote>
          </div>
        </div>
      </section>
      <!-- Our partners-->
      <section class="section section-md bg-gray-100 text-center">
        <div class="container">
          <h3>Our partners</h3>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-centered" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-owl='{"dots":true}'>
            <div class="wow clipInLeft"><a class="link-image-1" href="#"><img src="/images/investor-1-88x77.png" alt="" width="88" height="77" loading="lazy"/></a></div>
            <div class="wow clipInLeft" data-wow-delay=".1s"><a class="link-image-1" href="#"><img src="/images/investor-2-73x78.png" alt="" width="73" height="78" loading="lazy"/></a></div>
            <div class="wow clipInLeft" data-wow-delay=".2s"><a class="link-image-1" href="#"><img src="/images/investor-3-96x62.png" alt="" width="96" height="62" loading="lazy"/></a></div>
            <div class="wow clipInLeft" data-wow-delay=".3s"><a class="link-image-1" href="#"><img src="/images/investor-4-78x80.png" alt="" width="78" height="80" loading="lazy"/></a></div>
            <div class="wow clipInLeft" data-wow-delay=".4s"><a class="link-image-1" href="#"><img src="/images/investor-5-87x76.png" alt="" width="87" height="76" loading="lazy"/></a></div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic">
        <div class="footer-classic-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                <p><span style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span></p><a class="button button-sm button-default-outline button-winona" href="login.html">Order Now</a>
              </div>
              <div class="col-sm-5 col-lg-3 col-xl-2">
                <h5 class="footer-classic-title">About</h5>
                <ul class="list footer-classic-list">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="#">Press and media</a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-lg-5 col-xl-3">
                <h5 class="footer-classic-title">Quick Links</h5>
                <ul class="list footer-classic-list footer-classic-list_2-cols">
                  <li><a href="login.html">Sign Up</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="privacy-policy.html">Privacy policy</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="faq.html">Online Help</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-9 col-xl-2">
                <h5 class="footer-classic-title">Contacts</h5>
                <div class="row row-20 row-sm-35">
                  <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                    <div class="row row-10 text-black">
                      <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                      <div class="col-lg-6 col-xl-12"><a href="tel:#">+1-800-123-1234</a></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-end text-sm-start">
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-classic-aside">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>