<!DOCTYPE html>
<!--<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<style>
    .star-rating {
        direction: rtl; /* Reverse the order of inline elements */
        font-size: 0; /* Remove space between inline-block elements */
    }
    .star-rating input[type="radio"] {
        display: none; /* Hide the radio buttons */
    }
    .star-rating label {
        font-size: 30px;
        color: #ccc; /* Default star color */
        cursor: pointer;
    }
    .star-rating label:hover,
    .star-rating label:hover ~ label,
    .star-rating input[type="radio"]:checked ~ label {
        color: gold; /* Highlighted star color */
    }
</style>
<body>
<div class="pageLogin">
    <section class="section section-layout-3-outer">
        <div class="section-layout-3">
            <div class="layout-2 section-layout-3-header">
                <div class="layout-2-inner">
                    <div class="layout-2-item"><a class="link link-icon link-icon-left" href="/"><span
                            class="icon mdi mdi-arrow-left"></span><span>Back to Home</span></a></div>
                    <div class="layout-2-item">
                    </div>
                </div>
            </div>
            <div class="section-layout-3-main">
                <div class="section-1 text-center">
                    <div class="container">
                        <div class="box-shadow-1"><a class="brand" href="/"><img
                                class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111"
                                height="72" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                            <p class="text-gray-900"><span style="max-width: 400px">Leave a feedback</span>
                            </p>
                            <div class="box-shadow-1-main">
                                <!-- RD Mailform -->
                                <form class="form-wrap rd-mailform" th:action="@{/feedbacks/{id}/travel/{travelId}(id=${recipientId}, travelId=${travelId})}" th:object="${feedbackObject}" method="post">
                                    <form action="/submit-feedback" method="post">
                                        <div class="star-rating">
                                            <input type="radio" id="star5" name="rating" th:field="*{rating}" value="5"><label for="star5">★</label>
                                            <input type="radio" id="star4" name="rating" th:field="*{rating}" value="4"><label for="star4">★</label>
                                            <input type="radio" id="star3" name="rating" th:field="*{rating}" value="3"><label for="star3">★</label>
                                            <input type="radio" id="star2" name="rating" th:field="*{rating}" value="2"><label for="star2">★</label>
                                            <input type="radio" id="star1" name="rating" th:field="*{rating}" value="1"><label for="star1">★</label>
                                        </div>
                                        <div class="form-wrap">
                                            <input class="form-input" id="endPoint" type="text" name="comment" th:field="*{comment.comment}" placeholder="Add a comment">
                                        </div>
                                        <div class="form-wrap">
                                            <button class="button button-secondary button-winona wow clipInLeft" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="snackbars" id="form-output-global"></div>
</body>
</html>