<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header page-header-1">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"> <a class="brand" href="/"><img class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111" height="72" loading="lazy" srcset="/images/logo-111x33.png 2x"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/travels/create">Create a travel</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/travels/search-travels">Travels</a>
                  </li>
                  <li th:if="${isAuthenticated}" class="rd-nav-item">
                    <a class="rd-nav-link" href="/profile">Profile</a>
                  </li>
<!--                  <li class="rd-nav-item"><a class="rd-nav-link" href="/profile/my-profile">Dashbord</a>-->
<!--                  </li>-->
<!--                  <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>-->
                      <!-- RD Navbar Megamenu-->
                    <div class="rd-menu rd-navbar-megamenu">
                      <ul class="rd-navbar-megamenu-inner">
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services-2.html">Services 2</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html">Pricing</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="careers.html">Careers</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login.html">Login</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="../templates/register.html">Register</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-element bg-accent">
                <div th:if="${!isAuthenticated}">
                  <a class="button button-sm button-default-outline button-winona" href="/auth/login">Log in</a>
                </div>
                <div th:if="${isAuthenticated}">
                  <a class="button button-sm button-default-outline button-winona" href="/auth/logout">Log out</a>
                </div>
                <button class="rd-navbar-aside-open-toggle" data-multitoggle="#rd-navbar-aside" aria-label="Sidebar toggle">
                  <span></span><span></span><span></span>
                </button>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
            <div class="rd-navbar-aside" id="rd-navbar-aside"> 
              <div class="rd-navbar-aside-header">
                <p class="rd-navbar-aside-title">Navigation</p>
                <button class="rd-navbar-aside-close-toggle linearicons-cross2" data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar" aria-label="Sidebar toggle"></button>
              </div>
              <div class="rd-navbar-aside-main">
                <div class="rd-navbar-aside-group navbar" data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                  <a th:if="${isAuthenticated}" class="rd-navbar-aside-link" href="/profile/my-organised-travels">My Organised Travels</a>
                  <a th:if="${isAuthenticated}" class="rd-navbar-aside-link" href="/profile/my-travel-applications">My Applications</a>
                  <a th:if="${isAuthenticated}" class="rd-navbar-aside-link" href="/profile/my-feedbacks">My Feedbacks</a>
                  <a th:unless="${isAuthenticated}" class="rd-navbar-aside-link" href="/auth/register">Register</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- FScreen-->
        <div class="layout-4">
          <div class="layout-4-item-right">
            <div class="box-custom-2 bg-accent">
              <div class="box-custom-2-bg">
                <div class="box-custom-2-bg-inner">
                  <div class="box-custom-2-bg-image" style="background-image: url(/images/index-2-1397x1397.png);"></div>
                </div>
              </div>
              <div class="box-custom-2-inner">
                <h2 class="wow fadeIn">Find your travel now</h2>
                <div class="contacts-default">
                  <div class="unit align-items-center">
                    <div class="unit-left">
                    </div>
                  </div>
                </div>
                <p class="big wow fadeIn" data-wow-delay=".2s">Trips have never been<br>so fun and budget friendly.</p>
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform form-style-1" id="searchTravelsForm">
                  <div class="form-wrap">
                    <input class="form-input" id="start-point" type="text" name="pickup-address" data-constraints="@Required">
                    <label class="form-label" for="start-point">Start Point</label><span class="form-icon mdi mdi-map-marker"></span>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="end-point" type="text" name="destination-address" data-constraints="@Required">
                    <label class="form-label" for="end-point">End Point</label><span class="form-icon mdi mdi-map-marker"></span>
                  </div>
                  <div class="form-wrap-2">
                    <div class="form-button">
                      <button class="button button-block button-secondary button-winona" type="submit">Order now</button>
                    </div>
                  </div>
                </form>

                <script>
                  document.getElementById('searchTravelsForm').addEventListener('submit', function(event) {
                    event.preventDefault();

                    var startPoint = document.getElementById('start-point').value;
                    var endPoint = document.getElementById('end-point').value;

                    var searchUrl = '/travels/search-travels?author=&startPoint=' + encodeURIComponent(startPoint) + '&endPoint=' + encodeURIComponent(endPoint) + '&freeSpots=&sortBy=&sortOrder=&filter=*.html';

                    window.location.href = searchUrl;
                  });
                </script>
              </div>
            </div>
          </div>
          <div class="layout-4-item-left"><img src="/images/home-screen-car.png" alt="" width="747" height="597" loading="lazy"/>
          </div>
        </div>
      </header>
      <!-- Messenger of The Next Generation-->
      <section class="section section-md bg-gray-100 text-center" id="features">
        <div class="container">
          <h3 class="wow fadeIn" data-wow-delay=".1s">The benefits</h3>
          <div class="row row-30 row-md-50 row-xl-60">
            <div class="col-sm-6 col-lg-4 wow fadeIn">
              <!-- Box Modern-->
              <article class="box-modern" data-anime="circles-1">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-account-plus"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                  <div class="box-modern-circle box-modern-circle-2"></div>
                </div>
                <p class="box-modern-title">Fun Traveling</p>
                <div class="box-modern-text">
                  <p>Find new people and get to your destination with new friends</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
              <!-- Box Modern-->
              <article class="box-modern box-modern_alternate" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-airplane"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                  <div class="box-modern-circle box-modern-circle-2"></div>
                </div>
                <p class="box-modern-title">Budget Friendly</p>
                <div class="box-modern-text">
                  <p>Enjoy the comfort of a car ride and skip public transportation.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".2s">
              <!-- Box Modern-->
              <article class="box-modern" data-anime="circles-1">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-briefcase-check"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                  <div class="box-modern-circle box-modern-circle-2"></div>
                </div>
                <p class="box-modern-title">Get the most of your drive</p>
                <div class="box-modern-text">
                  <p>You are going there anyway why don't you lower your costs.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Stickers-->
      <section class="section section-1 text-center" id="stickers">
        <div class="container">
          <div class="row justify-content-center align-items-center bordered-1">
            <div class="col-sm-4">
              <div class="box-default">
                <p class="box-default-title">Total Users</p>
                <p class="box-default-text" th:text="${totalUsers}"></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-default">
                <p class="box-default-title">Organised Travels</p>
                <p class="box-default-text" th:text="${totalTravels}"></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-default">
                <p class="box-default-title">Applications For Travels</p>
                <p class="box-default-text" th:text="${totalApplications}"></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3>Testimonials</h3>
          <!-- Isotope-->
          <div class="isotope-outer isotope-wrap">
            <div class="row row-30 row-xl-40 isotope" data-isotope-layout="masonry">
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="/images/testimonials-1-74x74.jpg" alt="" width="74" height="74" loading="lazy"/>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">Jane Williams</cite>
                        <p class="quote-modern-position">Regular Client</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>I found your service to be a 5-star experience. The driver was waiting at the arrivals hall for us. All the people we communicated with were pleasant and cheerful.</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall" data-wow-delay=".1s">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="/images/testimonials-2-74x74.jpg" alt="" width="74" height="74" loading="lazy"/>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">John Doe</cite>
                        <p class="quote-modern-position">Regular Driver</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>Everything went perfectly! I saved 70% of my costs and the travel was way more fun!</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <div class="col-md-6 col-lg-4 isotope-item wow fadeInUpSmall" data-wow-delay=".3s">
                <!-- Quote Modern-->
                <blockquote class="quote-modern">
                  <div class="quote-modern-header">
                    <div class="quote-modern-info"><img class="quote-modern-avatar" src="/images/testimonials-3-74x74.jpg" alt="" width="74" height="74" loading="lazy"/>
                      <div class="quote-modern-info-main">
                        <cite class="quote-modern-cite">Kate Peterson</cite>
                        <p class="quote-modern-position">Regular Client</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-modern-main">
                    <div class="quote-modern-text">
                      <p>The service was excellent, thank you. My driver was waiting at Arrivals for me with a clear sign. He introduced himself, was very polite and friendly.</p>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- CTA-->
      <section class="section parallax-container section-lg bg-accent bg-overlay-1 text-center" data-parallax-img="images/bg-image-5.jpg">
        <div class="parallax-content">
          <div class="container">
            <div class="row row-50 justify-content-end">
              <div class="col-md-6 col-lg-5">
                <h1 class="wow clipInLeft"><span class="fw-light">Up to -80%</span> on travel costs</h1>
                <p class="big wow clipInLeft" data-wow-delay=".1s">Create a travel approve other users applications and save on your next trip</p><a class="button button-secondary button-winona wow clipInLeft" href="/travels/create" data-wow-delay=".1s">Create your travel</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic">
        <div class="footer-classic-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111" height="72" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                <p><span style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span></p><a class="button button-sm button-default-outline button-winona" href="login.html">Order Now</a>
              </div>
              <div class="col-sm-5 col-lg-3 col-xl-2">
                <h5 class="footer-classic-title">About</h5>
                <ul class="list footer-classic-list">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="#">Press and media</a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-lg-5 col-xl-3">
                <h5 class="footer-classic-title">Quick Links</h5>
                <ul class="list footer-classic-list footer-classic-list_2-cols">
                  <li><a href="login.html">Sign Up</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="privacy-policy.html">Privacy policy</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="faq.html">Online Help</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-9 col-xl-2">
                <h5 class="footer-classic-title">Contacts</h5>
                <div class="row row-20 row-sm-35">
                  <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                    <div class="row row-10 text-black">
                      <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                      <div class="col-lg-6 col-xl-12"><a href="tel:#">+1-800-123-1234</a></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-end text-sm-start">
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-classic-aside">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>