<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <div class="pageLogin">
      <section class="section section-layout-3-outer">
        <div class="section-layout-3">
          <div class="layout-2 section-layout-3-header">
            <div class="layout-2-inner">
              <div class="layout-2-item"><a class="link link-icon link-icon-left" href="/"><span class="icon mdi mdi-arrow-left"></span><span>Back to Home</span></a></div>
              <div class="layout-2-item"> 
                <div class="layout-2-group">
                  <p class="text-gray-900 ls-001">Don’t have an account?</p><a class="button button-sm button-primary-outline button-winona" href="../templates/register.html">Register</a><a class="link link-underline" href="faq.html">Need help? </a>
                </div>
              </div>
            </div>
          </div>
          <div class="section-layout-3-main">
            <div class="section-1 text-center"> 
              <div class="container">
                <div class="box-shadow-1"> <a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                  <p class="text-gray-900"><span style="max-width: 400px">Enter your e-mail and password below to log in to your account and use the benefits of our services.</span></p>
                  <div class="box-shadow-1-main">
                    <!-- RD Mailform -->
                    <form class="rd-form rd-mailform" action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
                      <div class="form-wrap">
                        <input class="form-input" id="login-username" type="text" name="username" th:field="*{username}" data-constraints="@Required" placeholder="Username">
<!--                        <label class="form-label" for="login-username">Username</label>-->
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                      </div>
                      <div class="form-wrap">
                        <input class="form-input" id="login-password" type="password" name="password" th:field="*{password}" minlength="8" data-constraints="@Required" placeholder="Password">
<!--                        <label class="form-label" for="login-password">Password</label>-->
                      </div>

                      <div th:if="${loginError}" class="form-wrap"
                           th:text="${loginError}">
                      </div>

                      <div class="form-wrap"><a class="link link-underline small" href="#">I forgot my password</a></div>
                      <div class="form-wrap">
                        <button class="button button-block button-secondary button-shadow button-winona" type="submit">Sign In</button>
                      </div>
                    </form>
                    <div class="text-decoration-lines"><span class="text-decoration-lines-content">Or log in via social networks</span></div>
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#" aria-label="Twitter"></a><a class="link link-social-1 mdi mdi-facebook" href="#" aria-label="Facebook"></a><a class="link link-social-1 mdi mdi-instagram" href="#" aria-label="Google+"></a><a class="link link-social-1 mdi mdi-linkedin" href="#" aria-label="Linkedin"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>