<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  <head>
    <title>Pricing</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header page-header-4">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"> <a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#">Get Our App</a>
                  </li>
                  <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <div class="rd-menu rd-navbar-megamenu">
                      <ul class="rd-navbar-megamenu-inner">
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services.html">Services</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="services-2.html">Services 2</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html">Pricing</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="careers.html">Careers</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login.html">Login</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="../templates/register.html">Register</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-element"><a class="button button-sm button-default-outline button-winona" href="careers.html">Join Us</a>
                <button class="rd-navbar-aside-open-toggle" data-multitoggle="#rd-navbar-aside" aria-label="Sidebar toggle"> <span></span><span></span><span></span></button>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
            <div class="rd-navbar-aside" id="rd-navbar-aside"> 
              <div class="rd-navbar-aside-header">
                <p class="rd-navbar-aside-title">Navigation</p>
                <button class="rd-navbar-aside-close-toggle linearicons-cross2" data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar" aria-label="Sidebar toggle"></button>
              </div>
              <div class="rd-navbar-aside-main">
                <div class="rd-navbar-aside-group navbar" data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                  <div class="navbar-inner"><a class="rd-navbar-aside-link" href="about-us.html">About Us</a><a class="rd-navbar-aside-link" href="faq.html">FAQ</a><a class="rd-navbar-aside-link" href="testimonials.html">Testimonials</a><a class="rd-navbar-aside-link" href="our-team.html">Our Team</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-main context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-9">
                <h2 class="breadcrumbs-custom-title">Pricing</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-aside">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">Pricing</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section section-2 bg-gray-100 text-center">
        <div class="container">
          <div class="toggle-modern" aria-label="Pricing Switch Monthly/Yearly" id="pt-classic-toggle">
            <div class="toggle-modern-text toggle-modern-text_default">Monthly</div>
            <button class="toggle-modern-switch content-toggle" data-multitoggle="#pt-classic, #pt-classic-toggle"><span class="toggle-modern-switch-element"></span></button>
            <div class="toggle-modern-text toggle-modern-text_alternate">Yearly</div>
          </div>
          <!-- Pricing Table Classic-->
          <div class="pt-classic-group" id="pt-classic">
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-carousel_type-2" data-items="1" data-md-items="2" data-lg-items="3" data-stage-padding="0" data-loop="false" data-margin="30" data-lg-margin="20" data-xl-margin="30" data-mouse-drag="false" data-owl='{"nav":true}'>
              <article class="pt-classic wow slideInRightLg" data-wow-delay=".5s">
                <h4 class="pt-classic-title">Basic</h4>
                <div class="pt-classic-price-outer">
                  <div class="pt-classic-price" aria-hidden="false">
                    <div class="pt-classic-price-currency">$</div>
                    <div class="pt-classic-price-value">49</div>
                  </div>
                  <div class="pt-classic-price" aria-hidden="true">
                    <div class="pt-classic-price-currency">$</div>
                    <div class="pt-classic-price-value">470</div>
                  </div>
                </div>
                <div class="pt-classic-divider"></div>
                <ul class="pt-classic-list">
                  <li>Online Taxi Booking</li>
                  <li>Private Driver</li>
                  <li>Airport Transfer</li>
                  <li aria-disabled="true">Baggage Transfer</li>
                  <li aria-disabled="true">Corporate Taxi</li>
                  <li aria-disabled="true">Delivery Service</li>
                </ul>
                <div class="pt-classic-footer"><a class="button button-default-outline button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
              </article>
              <article class="pt-classic pt-classic_preferred wow scaleIn">
                <div class="pt-classic-header">
                  <h4 class="pt-classic-title">Standard<span class="pt-classic-icon"><span class="icon mdi mdi-heart text-secondary"></span><span class="icon mdi mdi-heart text-secondary"></span></span></h4>
                  <div class="pt-classic-price-outer">
                    <div class="pt-classic-price" aria-hidden="false">
                      <div class="pt-classic-price-currency">$</div>
                      <div class="pt-classic-price-value">79</div>
                    </div>
                    <div class="pt-classic-price" aria-hidden="true">
                      <div class="pt-classic-price-currency">$</div>
                      <div class="pt-classic-price-value">758</div>
                    </div>
                    <div class="badge badge-1">Save 20%</div>
                  </div>
                </div>
                <div class="pt-classic-divider"></div>
                <ul class="pt-classic-list">
                  <li>Online Taxi Booking</li>
                  <li>Private Driver</li>
                  <li>Airport Transfer</li>
                  <li>Baggage Transfer</li>
                  <li aria-disabled="true">Corporate Taxi</li>
                  <li aria-disabled="true">Delivery Service</li>
                </ul>
                <div class="pt-classic-footer"><a class="button button-secondary button-shadow button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a>
                  <p class="pt-classic-note">Recommended</p>
                </div>
              </article>
              <article class="pt-classic wow slideInLeftLg" data-wow-delay=".5s">
                <h4 class="pt-classic-title">Premium</h4>
                <div class="pt-classic-price-outer">
                  <div class="pt-classic-price" aria-hidden="false">
                    <div class="pt-classic-price-currency">$</div>
                    <div class="pt-classic-price-value">99</div>
                  </div>
                  <div class="pt-classic-price" aria-hidden="true">
                    <div class="pt-classic-price-currency">$</div>
                    <div class="pt-classic-price-value">950</div>
                  </div>
                </div>
                <div class="pt-classic-divider"></div>
                <ul class="pt-classic-list">
                  <li>Online Taxi Booking</li>
                  <li>Private Driver</li>
                  <li>Airport Transfer</li>
                  <li>Baggage Transfer</li>
                  <li>Corporate Taxi</li>
                  <li>Delivery Service</li>
                </ul>
                <div class="pt-classic-footer"><a class="button button-default-outline button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section section-sm bg-gray-100">
        <div class="container">
          <div class="toggle-modern" aria-label="Pricing Switch Monthly/Yearly" id="pt-creative-toggle">
            <div class="toggle-modern-text toggle-modern-text_default">Monthly</div>
            <button class="toggle-modern-switch content-toggle" data-multitoggle="#pt-creative, #pt-creative-toggle"><span class="toggle-modern-switch-element"></span></button>
            <div class="toggle-modern-text toggle-modern-text_alternate">Yearly</div>
          </div>
          <!-- Pricing Table Creative-->
          <div class="pt-creative-group" id="pt-creative">
            <div class="pt-creative-aside">
              <h3 class="pt-creative-aside-title">Key <br/> Features</h3>
              <ul class="pt-creative-features">
                <li>Online Taxi Booking</li>
                <li>Private Driver</li>
                <li>Airport Transfer</li>
                <li>Baggage Transfer</li>
                <li>Corporate Taxi</li>
                <li>Delivery Service</li>
              </ul>
              <div class="pt-creative-footer">
                <div class="pt-creative-footer-inner"></div>
              </div>
            </div>
            <div class="pt-creative-main">
              <!-- Owl Carousel-->
              <div class="owl-carousel" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="15" data-animation-in="fadeIn" data-animation-out="fadeOut" data-mouse-drag="false" data-owl='{"nav":true}'>
                <article class="pt-creative">
                  <h4 class="pt-creative-title text-primary">Basic</h4>
                  <div class="pt-creative-price-outer">
                    <div class="pt-creative-price">
                      <div class="pt-creative-price-inner" aria-hidden="false">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">10</div>
                        <div class="pt-creative-price-small">99</div>
                      </div>
                      <div class="pt-creative-price-inner" aria-hidden="true">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">125</div>
                        <div class="pt-creative-price-small">88</div>
                      </div>
                    </div>
                    <div class="pt-creative-price-caption"><span aria-hidden="false">per month</span><span aria-hidden="true">per year</span></div>
                  </div>
                  <div class="pt-creative-divider"></div>
                  <p class="pt-creative-text">Great for daily short-distance trips</p>
                  <ul class="pt-creative-features">
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-close" aria-disabled="true"></li>
                    <li class="icon mdi mdi-close" aria-disabled="true"></li>
                    <li class="icon mdi mdi-close" aria-disabled="true"></li>
                  </ul>
                  <div class="pt-creative-footer">
                    <div class="pt-creative-footer-inner"><a class="button button-default-outline button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
                  </div>
                </article>
                <article class="pt-creative">
                  <h4 class="pt-creative-title text-primary">Standard</h4>
                  <div class="pt-creative-price-outer">
                    <div class="pt-creative-price">
                      <div class="pt-creative-price-inner" aria-hidden="false">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">20</div>
                        <div class="pt-creative-price-small">99</div>
                      </div>
                      <div class="pt-creative-price-inner" aria-hidden="true">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">251</div>
                        <div class="pt-creative-price-small">88</div>
                      </div>
                    </div>
                    <div class="pt-creative-price-caption"><span aria-hidden="false">per month </span><span aria-hidden="true">per year</span></div>
                  </div>
                  <div class="pt-creative-divider"></div>
                  <p class="pt-creative-text">Perfectly fits all types of clients</p>
                  <ul class="pt-creative-features">
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-close" aria-disabled="true"></li>
                    <li class="icon mdi mdi-close" aria-disabled="true"></li>
                  </ul>
                  <div class="pt-creative-footer">
                    <div class="pt-creative-footer-inner"><a class="button button-secondary button-icon button-icon-right button-winona button-shadow" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
                  </div>
                </article>
                <article class="pt-creative">
                  <h4 class="pt-creative-title text-primary">Business</h4>
                  <div class="pt-creative-price-outer">
                    <div class="pt-creative-price">
                      <div class="pt-creative-price-inner" aria-hidden="false">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">32 </div>
                        <div class="pt-creative-price-small">99</div>
                      </div>
                      <div class="pt-creative-price-inner" aria-hidden="true">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">395 </div>
                        <div class="pt-creative-price-small">88</div>
                      </div>
                    </div>
                    <div class="pt-creative-price-caption"><span aria-hidden="false">per month </span><span aria-hidden="true">per year</span></div>
                  </div>
                  <div class="pt-creative-divider"></div>
                  <p class="pt-creative-text">Full set of corporate transportation services</p>
                  <ul class="pt-creative-features">
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                  </ul>
                  <div class="pt-creative-footer">
                    <div class="pt-creative-footer-inner"><a class="button button-default-outline button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
                  </div>
                </article>
                <article class="pt-creative">
                  <h4 class="pt-creative-title text-primary">Premium</h4>
                  <div class="pt-creative-price-outer">
                    <div class="pt-creative-price">
                      <div class="pt-creative-price-inner" aria-hidden="false">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">45</div>
                        <div class="pt-creative-price-small">99</div>
                      </div>
                      <div class="pt-creative-price-inner" aria-hidden="true">
                        <div class="pt-creative-price-currency">$</div>
                        <div class="pt-creative-price-value">551</div>
                        <div class="pt-creative-price-small">88</div>
                      </div>
                    </div>
                    <div class="pt-creative-price-caption"><span aria-hidden="false">per month </span><span aria-hidden="true">per year</span></div>
                  </div>
                  <div class="pt-creative-divider"></div>
                  <p class="pt-creative-text">Complete set of services provided by ETAXI</p>
                  <ul class="pt-creative-features">
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                    <li class="icon mdi mdi-check"></li>
                  </ul>
                  <div class="pt-creative-footer">
                    <div class="pt-creative-footer-inner"><a class="button button-default-outline button-icon button-icon-right button-winona" href="#"><span class="icon mdi mdi-arrow-right"></span>Select Plan</a></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-classic">
        <div class="footer-classic-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                <p><span style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span></p><a class="button button-sm button-default-outline button-winona" href="login.html">Order Now</a>
              </div>
              <div class="col-sm-5 col-lg-3 col-xl-2">
                <h5 class="footer-classic-title">About</h5>
                <ul class="list footer-classic-list">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="#">Press and media</a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-lg-5 col-xl-3">
                <h5 class="footer-classic-title">Quick Links</h5>
                <ul class="list footer-classic-list footer-classic-list_2-cols">
                  <li><a href="login.html">Sign Up</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="privacy-policy.html">Privacy policy</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="faq.html">Online Help</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-9 col-xl-2">
                <h5 class="footer-classic-title">Contacts</h5>
                <div class="row row-20 row-sm-35">
                  <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                    <div class="row row-10 text-black">
                      <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                      <div class="col-lg-6 col-xl-12"><a href="tel:#">+1-800-123-1234</a></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-end text-sm-start">
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-classic-aside">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>