<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Travel</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .pagination-wrapper {
            text-align: center;
            padding: 20px 0;
        }

        .paginationLogin {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

        .paginationLogin li {
            display: inline;
            margin: 0 2px;
        }

        .paginationLogin li a {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .paginationLogin li:first-child a {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .paginationLogin li:last-child a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .paginationLogin li a:hover,
        .paginationLogin li a:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

        .paginationLogin .active a {
            z-index: 3;
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
            cursor: default;
        }

        .paginationLogin .disabled a {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }
    </style>
</head>
<style>
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .button {
        height: 38px;
        align-content: center;
    }

    .button {
        padding: 5px 15px;
        font-size: 14px;
    }

    .button {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: smaller;
        line-height: 1;
    }

    .form-wrap, .form-wrap.form-button {
        flex: 1;
        min-width: 90px;
    }

    .form-wrap {
        margin: 10px;
    }
    .travel-is-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    .form-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>

<body>
<div class="preloader" id="loading">
    <div class="preloader-body">
        <div id="loading-center-object">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header page-header-4">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed"
                 data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
                 data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px"
                 data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"> <a class="brand" href="/"><img class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111" height="72" loading="lazy" srcset="/images/logo-111x33.png 2x"/></a></div>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item"><a class="rd-nav-link" href="/travels/create">Create a travel</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="/travels/search-travels">Travels</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="/profile">Profile</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="/profile/my-profile">Dashbord</a>
                            </li>
                                <!-- RD Navbar Megamenu-->
                                <div class="rd-menu rd-navbar-megamenu">
                                    <ul class="rd-navbar-megamenu-inner">
                                        <li class="rd-megamenu-item">
                                            <ul class="rd-megamenu-list">
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/typography.html">Typography</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/buttons.html">Buttons</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/forms.html">Forms</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/tabs-and-accordions.html">Tabs
                                                    and Accordions</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/progress-bars.html">Progress
                                                    bars</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/tables.html">Tables</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="rd-megamenu-item">
                                            <ul class="rd-megamenu-list">
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/gallery.html">Gallery</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/services.html">Services</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/services-2.html">Services
                                                    2</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/pricing.html">Pricing</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/careers.html">Careers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="rd-megamenu-item">
                                            <ul class="rd-megamenu-list">
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/grid-system.html">Grid
                                                    system</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/privacy-policy.html">Privacy
                                                    policy</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/404-page.html">404
                                                    Page</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/coming-soon.html">Coming
                                                    Soon</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/search-results.html">Search
                                                    results</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-megamenu-item">
                                            <ul class="rd-megamenu-list">
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/contact-us.html">Contact
                                                    Us</a></li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/login.html">Login</a>
                                                </li>
                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                                     href="/templates/register.html">Register</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rd-navbar-element"><a class="button button-sm button-default-outline button-winona"
                                                      href="/auth/login">Log in</a>
                        <button class="rd-navbar-aside-open-toggle" data-multitoggle="#rd-navbar-aside"
                                aria-label="Sidebar toggle"><span></span><span></span><span></span></button>
                    </div>
                    <div class="rd-navbar-dummy"></div>
                </div>
                <div class="rd-navbar-aside" id="rd-navbar-aside">
                    <div class="rd-navbar-aside-header">
                        <p class="rd-navbar-aside-title">Navigation</p>
                        <button class="rd-navbar-aside-close-toggle linearicons-cross2"
                                data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar"
                                aria-label="Sidebar toggle"></button>
                    </div>
                    <div class="rd-navbar-aside-main">
                        <div class="rd-navbar-aside-group navbar"
                             data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                            <div class="navbar-inner"><a class="rd-navbar-aside-link" href="/templates/about-us.html">About
                                Us</a><a class="rd-navbar-aside-link" href="/templates/faq.html">FAQ</a><a
                                    class="rd-navbar-aside-link" href="/templates/testimonials.html">Testimonials</a><a
                                    class="rd-navbar-aside-link" href="/templates/our-team.html">Our Team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-main context-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <h2 class="breadcrumbs-custom-title">Find Your Travel</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-custom-aside">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Find Your Travel</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Search results-->
    <section class="section section-md">
        <div class="container">
            <!-- RD Search-->
            <form class="rd-form rd-search" action="#" th:action="@{/travels/search-travels}" method="get"
                  th:object="${filterOptions}">
                <div class="flex-container">
                    <div class="form-wrap" id="first-input-field"></div>
                    <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input-username">Username</label>
                        <input type="text" th:field="*{author}" class="form-input" id="rd-search-form-input-username"
                               name="username" autocomplete="off">
                    </div>
                    <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input-phone-number">Start point</label>
                        <input th:field="*{startPoint}" class="form-input" id="rd-search-form-input-phone-number"
                               type="text" name="start-point" autocomplete="off">
                    </div>
                    <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input-email">End point</label>
                        <input th:field="*{endPoint}" class="form-input" id="rd-search-form-input-email" type="text"
                               name="email" autocomplete="off">
                    </div>
                    <div class="form-wrap">
                        <label class="form-label" for="rd-search-form-input-free-spots">Free seats</label>
                        <input th:field="*{freeSpots}" class="form-input" id="rd-search-form-input-free-spots"
                               type="text" name="email" autocomplete="off">
                    </div>
                    <div class="form-wrap mx-sm-3 mb-2">
                        <label>
                            <select class="form-control" th:field="*{sortBy}">
                                <option value="">Sort By</option>
                                <option value="freeSpots">Free spots</option>
                                <option value="departureTime">Departure time</option>
                                <option value="distanceKm">Distance</option>
                                <option value="durationMinutes">Duration</option>
                            </select>
                        </label>
                    </div>

                    <!-- Sort Order Select -->
                    <div class="form-wrap mx-sm-3 mb-2">
                        <label>
                            <select class="form-control" th:field="*{sortOrder}">
                                <option value="">Sort Order</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="form-wrap form-button">
                    <button class="button button-secondary button-shadow" type="submit">Search</button>
                    <div class="rd-search-results"></div>
                </div>
            </form>

        </div>
        <div class="travel-is-empty" th:if="${travels.isEmpty()}">
            <h2>No Travels Found</h2>
        </div>
    </section>
    <section th:unless="${travels.isEmpty()}" class="section section-md">
        <div class="container">
            <div class="table-outer table-rounded table-responsive-lg">
                <table class="table-custom table-custom-primary">
                    <thead>
                    <tr>
                        <th>Start Point</th>
                        <th>End Point</th>
                        <th>Free Seats</th>
                        <th>Apply</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="travel : ${travels}">
                        <td th:text="${travel.startPoint}"></td>
                        <td th:text="${travel.endPoint}"></td>
                        <td th:text="${travel.freeSpots}"></td>
                        <td>
                            <!-- Conditional rendering for Admin -->
                            <div th:if="${isAdmin}">
                                <form th:action="@{/travels/delete/{id}(id=${travel.id})}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="button button-gray-700 button-winona">Delete</button>
                                </form>
                                <a th:href="@{/travels/applications/create/{id}(id=${travel.id})}" class="button button-primary button-winona">Apply</a>
                            </div>

                            <!-- Non-admin users see only the Apply button -->
                            <a th:unless="${isAdmin}" th:href="@{/travels/applications/create/{id}(id=${travel.id})}" class="button button-sm button-primary button-winona">Apply</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Pagination controls -->
            <div th:if="${travels.totalPages > 1}" class="pagination-wrapper">
                <ul class="paginationLogin">
                    <li th:classappend="${travels.number == 0 ? 'disabled' : ''}">
                        <a th:href="@{/travels/search-travels(travelPage=${travels.number - 1}, travelSize=${travelSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(0, travels.totalPages - 1)}"
                        th:classappend="${pageNum == travels.number ? 'active' : ''}">
                        <a th:href="@{/travels/search-travels(travelPage=${pageNum}, travelSize=${travelSize})}" th:text="${pageNum + 1}">1</a>
                    </li>
                    <li th:classappend="${travels.number + 1 == travels.totalPages ? 'disabled' : ''}">
                        <a th:href="@{/travels/search-travels(travelPage=${travels.number + 1}, travelSize=${travelSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="section footer-classic">
        <div class="footer-classic-main">
            <div class="container">
                <div class="row row-50 justify-content-lg-between">
                    <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="/"><img
                            class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111" height="33"
                            loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                        <p><span
                                style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span>
                        </p><a class="button button-sm button-default-outline button-winona"
                               href="/templates/login.html">Order Now</a>
                    </div>
                    <div class="col-sm-5 col-lg-3 col-xl-2">
                        <h5 class="footer-classic-title">About</h5>
                        <ul class="list footer-classic-list">
                            <li><a href="/templates/about-us.html">About Us</a></li>
                            <li><a href="/templates/careers.html">Careers</a></li>
                            <li><a href="#">Press and media</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-7 col-lg-5 col-xl-3">
                        <h5 class="footer-classic-title">Quick Links</h5>
                        <ul class="list footer-classic-list footer-classic-list_2-cols">
                            <li><a href="/templates/login.html">Sign Up</a></li>
                            <li><a href="/templates/services.html">Services</a></li>
                            <li><a href="/templates/privacy-policy.html">Privacy policy</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="/templates/pricing.html">Pricing</a></li>
                            <li><a href="/templates/faq.html">Online Help</a></li>
                            <li><a href="/templates/faq.html">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 col-lg-9 col-xl-2">
                        <h5 class="footer-classic-title">Contacts</h5>
                        <div class="row row-20 row-sm-35">
                            <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                                <div class="row row-10 text-black">
                                    <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                                    <div class="col-lg-6 col-xl-12"><a href="tel:#">+1-800-123-1234</a></div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-end text-sm-start">
                                <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter"
                                                               href="#"></a><a
                                        class="link link-social-1 mdi mdi-facebook" href="#"></a><a
                                        class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-classic-aside">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a
                        href="https://zemez.io/">Zemez</a></span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>