<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel applications</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .button {
        height: 38px;
        align-content: center;
    }

    .button {
        padding: 5px 15px;
        font-size: 14px;
    }

    .button {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: smaller;
        line-height: 1;
    }

    .form-wrap, .form-wrap.form-button {
        flex: 1;
        min-width: 90px;
    }

    .form-wrap {
        margin: 10px; /* Adjust as needed for spacing */
        /* Ensure elements don't stretch if undesired: */
        /* align-self: flex-start; */
    }

    .form-button {
        display: flex;
        justify-content: center; /* Center the button horizontally */
        width: 100%; /* Ensure the .form-button takes full width to center the button correctly */
    }
</style>
<body>
<div class="preloader" id="loading">
    <div class="preloader-body">
        <div id="loading-center-object">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header page-header-4">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed"
                 data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
                 data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px"
                 data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand" href="/templates/index.html"><img
                                class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111"
                                height="72"
                                loading="lazy" srcset="/images/logo-222x66.png 2x"/></a></div>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <!-- RD Navbar Megamenu-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="/travels/create">Create a
                                    travel</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link"
                                                           href="/travels/search-travels">Travels</a>
                                </li>
                                <li th:if="${isAuthenticated}" class="rd-nav-item">
                                    <a class="rd-nav-link" href="/profile">Profile</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <div class="rd-navbar-element"><a class="button button-sm button-default-outline button-winona"
                                                      href="/">Log out</a>
                        <button class="rd-navbar-aside-open-toggle" data-multitoggle="#rd-navbar-aside"
                                aria-label="Sidebar toggle"><span></span><span></span><span></span></button>
                    </div>
                    <div class="rd-navbar-dummy"></div>
                </div>
                <div class="rd-navbar-aside" id="rd-navbar-aside">
                    <div class="rd-navbar-aside-header">
                        <p class="rd-navbar-aside-title">Navigation</p>
                        <button class="rd-navbar-aside-close-toggle linearicons-cross2"
                                data-multitoggle="#rd-navbar-aside" data-scope=".rd-navbar"
                                aria-label="Sidebar toggle"></button>
                    </div>
                    <div class="rd-navbar-aside-main">
                        <div class="rd-navbar-aside-group navbar"
                             data-navbar="{&quot;stuck&quot;: false, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-main&quot;}}">
                            <div class="navbar-inner">
                                <a class="rd-navbar-aside-link" href="/profile/my-organised-travels">My Organised
                                    Travels</a>
                                <a class="rd-navbar-aside-link" href="/profile/my-travels-as-passenger">My Travels As
                                    Passenger</a>
                                <a class="rd-navbar-aside-link" href="/profile/my-travel-applications">My
                                    Applications</a>
                                <a class="rd-navbar-aside-link" href="/profile/my-feedbacks">My Feedbacks</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-main context-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <h2 class="breadcrumbs-custom-title">Travel Applications</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-custom-aside">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Home</a></li>
                    <li><a href="/travels/search-travels">Travels</a></li>
                    <li class="active">Travel Applications</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Search results-->
    <section class="section section-md">
        <div class="container">
        </div>
        <div class="container" th:if="${applications.isEmpty()}">
            <center> <h2>No Applications Found</h2></center>
        </div>
    </section>
    <section th:unless="${applications.isEmpty()}" class="section section-md">
        <div class="container">
            <div class="table-outer table-rounded table-responsive-lg">
                <table class="table-custom table-custom-primary">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Smoker</th>
                        <th>Has luggage</th>
                        <th>Has a pet</th>
                        <th>Approve</th>
                        <th>Decline</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="applicationObject : ${applications} ">
                        <td th:href="@{/applications/{id}(id=${applicationObject.id})}"
                            th:text="${applicationObject.passenger.username}"></td>
                        <td th:text="${applicationObject.status.status.toString().toLowerCase()}"></td>
                        <td th:text="${applicationObject.smoke ? 'Yes' : 'No'}">Smoke</td>
                        <td th:text="${applicationObject.luggage ? 'Yes' : 'No'}">Luggage</td>
                        <td th:text="${applicationObject.pet ? 'Yes' : 'No'}">Pet</td>
                        <td>
                                <form th:unless="${applicationObject.status.status.toString() == 'APPROVED'}" th:action="@{/travels/applications/approve/{id}(id=${applicationObject.id})}" method="post" style="display:inline;">
                                    <button type="submit" class="button button-sm button-primary button-winona">Approve</button>
                                </form>
                        </td>
                        <td>
                            <form th:unless="${applicationObject.status.status.toString() == 'DECLINED'}" th:action="@{/travels/applications/decline/{id}(id=${applicationObject.id})}" method="post" style="display:inline;">
                                <button type="submit" class="button button-gray-700 button-winona" th:text="Decline"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- Page Footer-->
    <footer class="section footer-classic">
        <div class="footer-classic-main">
            <div class="container">
                <div class="row row-50 justify-content-lg-between">
                    <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111" height="72" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
                        <p><span style="max-width: 250px;">We provide the best taxi services for you.</span></p>
                    </div>
                    <div class="col-sm-5 col-lg-3 col-xl-2">
                        <h5 class="footer-classic-title">About</h5>
                        <ul class="list footer-classic-list">
                            <li><a href="/about-us">About Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-7 col-lg-5 col-xl-3">
                        <h5 class="footer-classic-title">Quick Links</h5>
                        <ul class="list footer-classic-list footer-classic-list_2-cols">
                            <li th:unless="${isAuthenticated}"><a href="/auth/register">Register</a></li>
                            <li th:unless="${isAuthenticated}"><a href="/auth/login">Log in</a></li>
                            <li th:unless="${isAuthenticated}"><a href="/travels/search-travels">All Travels</a></li>
                            <li th:if="${isAuthenticated}"><a href="/travels/create">Create A Travel</a></li>
                            <li th:if="${isAuthenticated}"><a href="/travels/search-travels">All Travels</a></li>
                            <li th:if="${isAuthenticated}"><a href="/profile">Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 col-lg-9 col-xl-2">
                        <h5 class="footer-classic-title">Contacts</h5>
                        <div class="row row-20 row-sm-35">
                            <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                                <div class="row row-10 text-black">
                                    <div class="col-lg-6 col-xl-12"><a href="mailto:#">car.pooling.a56@gmail.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-classic-aside">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;Alex, Dani & Simo</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>