<!DOCTYPE html>
<!--<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Travel Application</title>
  <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="pageLogin">
  <section class="section section-layout-3-outer">
    <div class="section-layout-3">
      <div class="layout-2 section-layout-3-header">
        <div class="layout-2-inner">
          <div class="layout-2-item"><a class="link link-icon link-icon-left" href="/"><span
                  class="icon mdi mdi-arrow-left"></span><span>Back to Home</span></a></div>
          <div class="layout-2-item">
          </div>
        </div>
      </div>
      <div class="section-layout-3-main">
        <div class="section-1 text-center">
          <div class="container">
            <div class="box-shadow-1"><a class="brand" href="index.html"><img
                    class="brand-logo-dark" src="/images/logo-111x33.png" alt="" width="111"
                    height="33" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
              <p class="text-gray-900"><span style="max-width: 400px">Update travel application</span>
              </p>
              <div class="box-shadow-1-main">
                <!-- RD Mailform -->
                <form th:action="@{/travels/applications/update/{applicationId}(applicationId=${applicationDto.id})}" method="post" th:object="${applicationDto}">
                  <div>
                    <label>Travel Details:</label>
                    <p>Start Point: <span th:text="${travel.startPoint}"></span></p>
                    <p>End Point: <span th:text="${travel.endPoint}"></span></p>
                    <p>Departure Time: <span th:text="${#temporals.format(travel.departureTime, 'dd/MM/yyyy HH:mm')}"></span></p>
                  </div>
                  <div>
                    <label for="smoke">Wants to smoke:</label>
                    <input type="checkbox" id="smoke" name="smoke" th:field="*{smoke}">
                  </div>
                  <div>
                    <label for="luggage">Has luggage:</label>
                    <input type="checkbox" id="luggage" name="luggage" th:field="*{luggage}">
                  </div>
                  <div>
                    <label for="pet">Wants to bring pet:</label>
                    <input type="checkbox" id="pet" name="pet" th:field="*{pet}">
                  </div>

                  <input type="hidden" name="travelId" th:value="${travel.id}">
                  <input type="hidden" th:field="*{id}" />
                  <button type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="snackbars" id="form-output-global"></div>
</body>
</html>