<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Email Verification Page</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <section class="section section-layout-2">
        <div class="section-layout-2-inner">
          <div class="section-layout-2-header"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/cut-logo-carpool.jpg" alt="" width="111" height="72" loading="lazy" srcset="/images/logo-222x66.png 2x"/></a>
          </div>
          <div class="section-layout-2-main">
            <div class="section-layout-2-figure"><img class="section-layout-2-image" src="/images/404-image-828x593.jpg" alt="" width="828" height="593" loading="lazy"/>
            </div>
            <div class="section-layout-2-content container">
              <p class="text-extra-large" ></p>
              <h3 class="text-transform-none" th:text="${status}"></h3>
              <div class="group-1 group-middle"><a class="button button-secondary" href="/">Back to Home Page</a><a class="button button-default-outline" href="contact-us.html">Contact Us</a></div>
            </div>
          </div>
          <div class="section-layout-2-footer">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Team 8</a></span></p>
          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>