.row.row-30.row-md-50.row-xl-60
	.col-sm-6.col-lg-4.wow.fadeIn
		// Box Modern
		article.box-modern(data-anime='circles-1')
			.box-modern-media
				.box-modern-icon.mdi.mdi-account-plus
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Private Driver
			.box-modern-text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.

	.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.1s')
		// Box Modern
		article.box-modern.box-modern_alternate(data-anime='circles-2')
			.box-modern-media
				.box-modern-icon.mdi.mdi-airplane
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Airport transfer
			.box-modern-text
				p Eiusmod tempor incididunt ut labore et dolore magna aliqua.

	.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.2s')
		// Box Modern
		article.box-modern(data-anime='circles-1')
			.box-modern-media
				.box-modern-icon.mdi.mdi-briefcase-check
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Baggage Transfer
			.box-modern-text
				p Aenean et tortor at risus viverra adipiscing at in. Amet volutpat.

	.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.2s')
		// Box Modern
		article.box-modern(data-anime='circles-1')
			.box-modern-media
				.box-modern-icon.mdi.mdi-home-modern
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Corporate Taxi
			.box-modern-text
				p Consequat mauris nunc congue nisi vitae suscipit. Augue ut lectus arcu.

	.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.1s')
		// Box Modern
		article.box-modern.box-modern_alternate(data-anime='circles-2')
			.box-modern-media
				.box-modern-icon.mdi.mdi-map
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Delivery Service
			.box-modern-text
				p Bibendum at varius. Arcu non odio euismod lacinia at quis risus.

	.col-sm-6.col-lg-4.wow.fadeIn
		// Box Modern
		article.box-modern(data-anime='circles-1')
			.box-modern-media
				.box-modern-icon.mdi.mdi-cellphone
				.box-modern-circle.box-modern-circle-1
				.box-modern-circle.box-modern-circle-2
			p.box-modern-title Online Booking
			.box-modern-text
				p Lacus luctus accumsan tortor posuere ac. Cursus in hac.
