.thumbnail-classy
	.thumbnail-classy-image.bg-image(style='background-image: url(images/web-app-1-650x500.jpg);')
	.thumbnail-classy-caption
		a.thumbnail-classy-button.mdi.mdi-play(href='https://www.youtube.com/watch?v=I5FlP07kdvM' data-lightgallery='item')
